<section class="main parallax__item">
    <div class="parallax__img-wrap">
       <div class="parallax__img  " data-speed="-40">
        <div class="parallax__img--inner parallax__img--inner-tender " data-name="/tenders.html" style="background-image: url(./img/tenders/tenders-bg.png);
            background-position: center;
            background-size: cover;">
        </div>
        <div class="parallax__img--inner parallax__img--inner-tender" data-name="/purchases.html" style="background-image: url(./img/purchases/bg-purchases.jpg);
            background-position: center;
            background-size: cover;">
        </div>
       </div>
    </div>
    <div class="container">
       <div class="main__wrapper">
          <h1 class="main__title main__title--about">
             <!-- <div class="title--inner-main">Пресс-центр</div> -->
             <div class="title--inner-main tender-header-title active" data-name="/tenders.html">Тендеры</div>
             <div class="title--inner-main tender-header-title" data-name="/purchases.html">Постоянные<br> закупки</div>
 
          </h1>
       </div>
    </div>
 </section>