<div class="rent__wrapper">
    <div class="tabs-common__wrapper">
        <div class="container">

        
            <div class="tabs-common">

                <div class="tabs-common-container tabs-common-container--rent" id="barba-nav">
                    <a href="tenders.html" class="tabs-common-links tabs-common-links--barba active" data-tab="tenders" id="defaultOpen">Тендеры</a>
                    <a href="purchases.html" class="tabs-common-links tabs-common-links--barba" data-tab="purchases">Постоянные закупки</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>