$font-bold-title: 'HeliosExtBlack', sans-serif;
$font-bold-2-title: 'HeliosExtBold', sans-serif;
$font-regular: 'HeliosExt', sans-serif;
$font-text-light: 'MullerLight', sans-serif;
$font-text-regular: 'MullerRegular', sans-serif;
$font-for-number: 'GothamProBlack', sans-serif;
$font-for-number-light: 'GothamPro', sans-serif;
$red-color: #C30215;
$accent-text-bg-color: #B7262B;
$blue-color: #18213D;
$light-grey-color: #F2F2F2;
$bg-color-light-grey: #F2F4F7;
$black-grey: #171C28;
$grey-text-paragraf: #616161;
$grey-text-table: #A6A2A2;
$grey-light-border: #E2E2E2;
$grey-light-purchase: #3c3d40;