$font-bold-title: 'HeliosExtBlack';

$font-bold-2-title: 'HeliosExtBold';

$font-regular: 'HeliosExt';

$font-text-light : 'MullerLight';

$font-text-regular : 'MullerRegular';

$font-for-number: 'GothamProBlack';

$font-for-number-light: 'GothamPro';

$red-color: #C30215;
<<<<<<< HEAD
=======
$blue-color: #18213D;
>>>>>>> origin/all-page

$light-grey-color: #F2F2F2;

$bg-color-light-grey: #F2F4F7;

$black-grey:  #171C28;

<<<<<<< HEAD
=======


>>>>>>> origin/all-page
$grey-text-paragraf: #616161;

$grey-text-table: #A6A2A2;

$grey-light-border: #E2E2E2;
