.press {
  
    &-nav-bar {
        width: 95%;
        display: flex;
        border-bottom: 2px solid #E2E2E2;
        font-family: $font-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 18px;
        color: #616161;
        padding-top: 50px;
        padding-right: 50px;
        z-index: 1002;
        white-space: nowrap;

        &::-webkit-scrollbar {
          width: 0;
        }
  
        @media only screen and(max-width: 768px) {
          font-size: 16px;
          overflow: scroll;
          width: 90%;
        }
  
        @media only screen and(max-width: 360px) {
          font-size: 12px;
          overflow: scroll;
          width: 85%;
        }
  
        &>ul {
          list-style: none;
          display: flex;
          padding: 0;
  
          &>li {
            margin-right: 145px;
            padding-bottom: 35px;
            justify-content: center;

            @media only screen and(max-width: 1366px) {
              font-size: 18px;
              margin-right: 60px;
            }
            @media only screen and(max-width: 1280px) {
              font-size: 18px;
              margin-right: 60px;
            }
  
            @media only screen and(max-width: 768px) {
              font-size: 16px;
              margin-right: 50px;
              padding-bottom: 10px;
            }
  
            @media only screen and(max-width: 620px) {
              font-size: 14px;
              margin-right: 20px;
            }
  
            &>a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
  
        &-list__item:hover, &-list__item-active {
          color: #C30215;
          border-bottom: 3px solid #C30215;
          padding-bottom: 20px;
        }
      }

    &-searchbar {

      &:focus{
        &::-webkit-input-placeholder { 
          color:transparent; 
        }
        width: 70%;

        @media only screen and(max-width: 768px) {
          width: 100%;
        }

        @media only screen and(max-width: 360px) {
          width: 310px;
        }
      }
        width: 571px;
        height: 100px;
        box-sizing: border-box;
        border: 2px solid #000000;;
        font-size: 24px;
        background-color: white;
        background-image: url('../../../img/press/search.svg');
        background-position: 30px 30px; 
        background-repeat: no-repeat;
        padding: 12px 30px 12px 70px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 50px;
        font-family: 'HeliosExt';
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        /* or 90% */

        display: flex;
        align-items: center;

        /* Gray 1 */

        color: #333333;
        //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media only screen and(max-width: 1366px) {
          width: 430px;
          height: 90px;
          font-size: 20px;
          background-position: 20px 20px; 
          padding: 12px 30px 12px 60px;
        }

        @media only screen and(max-width: 1280px) {
          width: 430px;
          height: 90px;
          font-size: 20px;
          background-position: 20px 20px; 
          padding: 12px 30px 12px 60px;
        }

        @media only screen and(max-width: 768px) {
          width: 430px;
          height: 70px;
          font-size: 18px;
          background-position: 20px 20px; 
          padding: 12px 30px 12px 60px;
        }

        @media only screen and(max-width: 360px) {
          width: 310px;
          height: 60px;
          font-size: 14px;
          background-position: 20px 20px; 
          padding: 12px 30px 12px 60px;
          margin-left: 15px;
          background-position: 10px 10px;
        }
        
        &::placeholder {
          text-align: center;
        }

    }

    &-news {
     
        &-subtitle{
          padding-bottom: 20px !important;
        }
      
    }

    &-video-container {
      background-color: #101c3b;
    }

    &-photo-container {
      background-color: #f6f5f6;
    }

    &-video-font {
      color: #f2f3f3 !important;
      padding-bottom: 30px !important;

      @media only screen and(max-width: 360px) {
        padding-left: 15px;
      }
        
      
      
    }

    &-container-photo-title {

      @media only screen and(max-width: 360px) {
        padding-left: 15px;
      }
    }

    &-video{
      background-color: #101c3b;

      &__hover {
        height: 350px !important;
        &-item:hover {
          h3 {
            color: #ad039f !important;
          }
         }
         
         &-item:after {
          background-color: #ad039f !important;
         }

      }
  }
    &-photo {

      &-subscribe {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        &-button {
          @extend %btn-bordered;
          font-family: 'HeliosExt';
          font-size: 12px;
          margin-bottom: 50px;
          margin-left: -8%;
          border: solid black 1px;

          @media only screen and(max-width: 360px) {
            margin-left: 0;
          }
        }

      }

      &__subtitle {
        padding-bottom: 20px !important;
      }
    }

    

    &-button-more {
      padding-bottom: 50px;

      &__news {
        color: rgba(34, 34, 36, 0.63) !important;
        margin-top: 20px;

        &::before {
          border-top-color: rgba(34, 34, 36, 0.63) !important;
        }
      }
      
      &__video {
        margin-left: 100px;
        color: #1a4382 !important;
        
        &::before {
          border-top-color: #1a4382 !important;
        }

      }

      &__about {
        padding-top: 30px;
        color: rgba(34, 34, 36, 0.63) !important;

        &::before {
          border-top-color: rgba(34, 34, 36, 0.63) !important;
        }
      }
    }
  
    &-contacts{
      display: flex;
      color: #171C28;
      font-family: 'HeliosExt';
      &-field {
        margin-left: 20px;

        @media only screen and(max-width: 768px) {
          margin-left: 0px;
        }

        @media only screen and(max-width: 360px) {
          margin-left: 0px;
          margin-bottom: -80px;
        }
      }

      &-img-container {
        width: 500px;
        background-image: url(../../../img/press/contacts-bg.png);
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: 80px 100px;

        @media only screen and(max-width: 768px) {
          width: 400px;
          background-size: 330px;
          background-position: 10px 70px;
        }

        @media only screen and(max-width: 360px) {
          background-size: 330px;
          background-position: 20px 170px;
        }

      }

      a {
        text-decoration: none ;
        color: #171C28;
      }

      &__img-wrap {
        width: 450px;
        height: 490px;

        @media only screen and(max-width: 768px) {
          width: 330px;
          height: 360px;
        }

        @media only screen and(max-width: 360px) {
          width: 400px;
          height: 450px;
        }

        /*@media only screen and(max-width: 768px) {
          width: 345px;
          height: 390px;
        }*/
      }

      &__img {
        width: 120%;
        height: 100%;
        object-fit: cover;
        object-position: -70px -50px;

        @media only screen and(max-width: 768px) {
          width: 90%;
          height: 100%;
          object-fit: cover;
          object-position: -60px -30px;
        }

        @media only screen and(max-width: 360px) {
          width: 80%;
          height: 100%;
          object-fit: cover;
          object-position: -60px 60px;
        }

        /*@media only screen and(max-width: 768px) {
          object-position: 0% 30%;
        }*/
      }

      &__container {
        background-color: #dad8db ;
        padding-left: 50px !important;

        @media only screen and(max-width: 360px) {
          padding-left: 15px !important;
        }

        /*@media only screen and(max-width: 768px) {
          background-position: 20% 100%;
        }*/
      }

      &__title {
        font-family: 'HeliosExtBold';
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 54px;
        margin-top: 70px;
        margin-bottom: 20px;
        line-height: normal;

        @media only screen and(max-width: 1280px) {
          font-size: 36px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 26px;
        }

        @media only screen and(max-width: 360px) {
          font-size: 22px;
        }


      }

      &__name {
        
        font-style: normal;
        font-size: 24px;
        margin-bottom: 20px;

        
        @media only screen and(max-width: 1280px) {
          font-size: 20px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 16px;
        }

      }

      &__phone {
        font-size: 24px;
        margin-bottom: 30px;

        
        @media only screen and(max-width: 1280px) {
          font-size: 20px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 16px;
        }

      }

      &__mail {
        font-size: 24px;

        
        @media only screen and(max-width: 1280px) {
          font-size: 20px;
        }

        @media only screen and(max-width: 768px) {
          font-size: 16px;
        }

      }

      @media only screen and(max-width: 360px) {
        flex-direction: column-reverse;
      }

    }

    &-contact-us {
      input, textarea {
        color: #DCE0E3;
        outline: none;
        border: none;
        border: solid 1px #DCE0E3;
        border-radius: 3px;
        &::placeholder {
          font-family: 'MullerRegular';
          font-size: 12px;
          color: #DCE0E3;
        }
      }

      &__container{
        background-image: url(/source/img/press/contact-us-bg.jpg);
        background-size: cover;

        @media only screen and(max-width: 768px) {
          background-position-x: -800px;

        }

        @media only screen and(max-width: 360px) {
          background-size: 1500px 600px;
          background-position-x: 360px;
          background-position-y: bottom;
        }

      }

      &__title {
        color: #DCE0E3;
        padding-top: 90px;
        font-family: 'HeliosExt';
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 54px;

        @media only screen and(max-width: 1280px) {
          font-size: 30px;
          padding-top: 60px;
        }

        @media only screen and(max-width: 768px) {
          padding-top: 40px;
        }

        @media only screen and(max-width: 360px) {
          font-size: 20px;
          padding-top: 20px;
        }
      }

      &__form {

        &-name{
          width: 495px;
          height: 60px;
          padding: 12px 20px;
          box-sizing: border-box;
          margin-right: 50px;
          margin-bottom: 20px;
          margin-top: 50px;
          background-color: transparent;
          border: 1px solid #ccc;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;

          @media only screen and(max-width: 1280px) {
            width: 350px;
            height: 50px;
            margin-right: 30px;
            margin-bottom: 20px;
          }

          @media only screen and(max-width: 768px) {
            width: 310px;
            margin-right: 20px;

          }

          @media only screen and(max-width: 360px) {
            margin-top: 20px;
          }


          &:focus {
            border: 1px solid #555;
          }
        }

        &-phone {
          background-color: transparent;
          width: 495px;
          height: 60px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;
          margin-bottom: 35px;

          @media only screen and(max-width: 1280px) {
            width: 350px;
            height: 50px;
            margin-right: 30px;
            margin-bottom: 20px;
          }
          
          @media only screen and(max-width: 768px) {
            width: 310px;
          }


          &:focus {
            border: 1px solid #555;
          }
        }

        &-text {
          width: 1043px;
          height: 90px;
          margin-bottom: 20px;
          padding: 12px 20px;
          box-sizing: border-box;
          background-color: transparent;
          border: 1px solid #ccc;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;

          @media only screen and(max-width: 1280px) {
            width: 735px;
            height: 70px;
            margin-bottom: 20px;
          }

          @media only screen and(max-width: 768px) {
            width: 646px;
          }

          @media only screen and(max-width: 360px) {
            width: 310px;
          }


          &:focus {
            border: 1px solid #555;

            &::placeholder {
              transform: translateY(-20px);
            }
         }
       }
        &-button {
          width: 278px;
          height: 76px;
          margin-bottom: 50px;
          margin-top: 20px;
          background-color: #C30215;
          border: none !important;
          border-radius: 0% !important;
          font-family: 'MullerRegular';
          font-size: 16px;
          transition-property: all;
          transition-duration: .2s;
          transition-timing-function: linear;
          transition-delay: 0s;

          &:hover {
            background-color: #6b010c;
          }

          &-description {
            font-family: 'MullerRegular';
            font-size: 18px;
            padding-left: 30px;
            padding-top: 40px;

            @media only screen and(max-width: 1280px) {
              font-size: 12px;
              padding: 15px;
            }

            @media only screen and(max-width: 768px) {
              font-size: 12px;
              padding-left: 20px;
              padding-top: 35px;
            }

            @media only screen and(max-width: 360px) {
              margin-bottom: 40px;
            }
          }

          &-container {
            display: flex;
            color: #DCE0E3;

            @media only screen and(max-width: 360px) {
              flex-direction: column;
            }
          }

          @media only screen and(max-width: 1280px) {
            width: 190px;
            height: 50px;
            margin-bottom: 50px;
            font-size: 12px;
          }

          @media only screen and(max-width: 768px) {
            width: 310px;
            height: 55px;
            margin-bottom: 110px;
            font-size: 14px;
          }

          @media only screen and(max-width: 360px) {
            width: 310px;
            margin-bottom: 15px;
          }
        }
      }

      @media only screen and(max-width: 360px) {
        padding-left: 15px;
      }
    }

    &-footer {
      margin-top: 43px;

      &__contacts {
        display: none;
        @media only screen and(max-width: 768px) {
          display: block;
        }
      }
    }
  
      &-container {
        padding: 0 0 0 8.8%;
        margin: 0;
  
        @media only screen and(max-width: 1280px) {
          padding: 0 0 0 7.9%;
        }
  
        @media only screen and(max-width: 768px) {
          //padding-right: 8%;
          padding-left: 8%;
        }
  
        @media only screen and(max-width: 767px) {
         //margin-top: 25px;
        }

        @media only screen and(max-width: 360px) {
          padding-right: 10px;
          padding-left: 10px;
        }
      }

      &-instagram {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 50px;

        a {
          text-decoration: none;
        }

        &__title {
          display: flex;
          font-family: 'HeliosExt';
          margin-left: 50px;
          margin-right: 50px;
          padding-bottom: 15px;
        }

        &__follow-us {
          font-family: 'HeliosExt';
          margin-left: 50px;
          margin-right: 50px;
          color: rgb(76, 98, 172);
          padding-bottom: 5px;
        }

        &__icon {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }

        &__min-resolution {
          @media only screen and(min-width: 768px) {
          display: flex;
          }
        }

        &__min-resolution-hide {
          @media only screen and(max-width: 768px) {
            display: none;
          }
        }

        &__micro-resolution {

        }

        &__micro-resolution {
          @media only screen and(max-width: 360px){
            display: flex;
          }
        }
      }

      &-about{
        width: 60%;

        &-container {
          display: flex;

          @media only screen and(max-width: 768px) {
            //width: 100%;
            flex-direction: column;
            padding-right: 8%;
          }

          @media only screen and(max-width: 360px) {
            padding-right: 0%;
          }
        }

        &__title{
          @extend %block-title;
          padding-top: 90px;

          @media only screen and(max-width: 1280px) {
            padding-top: 60px;
          }

          @media only screen and(max-width: 768px) {
            padding-top: 40px;
          }

          @media only screen and(max-width: 360px) {
            padding-top: 20px;
          }
        }

        &__item-date {
          margin: 0;
          padding: 0;
          padding-top: 25px;
          font-family: $font-text-regular;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          color: rgba(60, 61, 64, 0.39);
        }

        &__item-title {
          @extend %block-title;
          font-size: 18px;
          line-height: normal;
          margin-bottom: 10px;
        }

        &__item-text {
          font-size: 14px;
          font-family: $font-text-light;
          color: #616161;
          font-weight: 300;
          font-style: normal;
          line-height: 18px;
          @media screen and (max-width: 1280px) {
            font-size: 12px;
            line-height: 18px;
            }
          }

          @media only screen and(max-width: 768px) {
            display: flex;
            flex-direction: column;
          }

        @media only screen and(max-width: 768px) {
          width: 100%;
          flex-direction: column;
        }
      }
      
      &__news-wrapper {
          display: flex;
          flex-direction: row;
          justify-items: auto;
          margin-right: 50px;
      }

      &__news-item {
          margin-right: 30px;
      }

      &__content {
        &-container {
          width: 100%;
          //display: flex;
          overflow: hidden;
  
          @media only screen and(max-width: 768px) {
            flex-direction: column;
            align-items: center;
            display: block;
          }

          @media only screen and(max-width: 360px) {
            display: block;
          }
        }
    }   
    
}

.contain {
  padding-top: 50px;

  @media only screen and(max-width: 1280px) {
    padding-top: 30px;
  }

  @media only screen and(max-width: 768px) {
    padding-top: 20px;
  }

  @media only screen and(max-width: 360px) {
    padding-top: 10px;
  }
}

/*.eapps-instagram-feed-posts-grid-load-more-container.eapps-instagram-feed-posts-grid-load-more-enabled {
  display: none !important;
}
*/