.press-about-us{
    width: 100%;
    padding-right: 8%;

    &__title{
      font-family: 'HeliosExtBold';
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      line-height: 54px;
      color: #171C28;
      padding-top: 80px;

      @media only screen and(max-width: 1280px) {
        padding-top: 70px;
        margin-bottom: -5px;
        font-size: 36px;
        line-height: 40px;
      }

      @media only screen and(max-width: 768px) {
        padding-top: 40px;
      }

      @media only screen and(max-width: 360px) {
        padding-top: 20px;
      }
    }

    &__item {
        margin-bottom: 50px;
        
        &-name {
            text-transform: uppercase;
            font-family: 'MullerRegular';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.1em;
            color: #333333;
        }

        &-date {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-family: 'MullerRegular';
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #A6A2A2;
        }

        &-title {
         font-family: 'HeliosExtBold';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 125.1%;
        color: #171C28;
        margin-bottom: 10px;

        @media only screen and(max-width: 1280px) {
            font-family: HeliosExt;
            font-size: 20px;
            line-height: 125.1%;
            margin-bottom: 5px;
        }
        }

        &-text {
        font-family: 'MullerRegular';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 10px;
        color: #616161;

        @media screen and (max-width: 1280px) {
            font-size: 16px;
            line-height: 24px;
            }
        }
    }

      @media only screen and(max-width: 1150px) {
        width: 95%;
      }

      @media only screen and(max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

    @media only screen and(max-width: 768px) {
      flex-direction: column;
    }
  }




.press-about-us-pagination-subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 2%;
    padding-right: 5%;
    margin-bottom: 200px;

    @media only screen and(max-width: 1150px) {
      margin-bottom: 60px;
    }

    @media only screen and(max-width: 550px) {
      flex-direction: column;
      margin-bottom: 60px;
    }
}
.press-about-us-pagination-container {
    height: 60px;

    @media only screen and(max-width: 550px) {
      margin-bottom: 20px;
    }
}

.press-about-us-pagination__list {
    margin: 0% ;
}

.press-right-side-bar-about-us-instagram {
    width: 105%;
    margin-right: 0%;
    margin-left: 4.5%;
    margin-top: 22%;
}

.press-about-us__item-hover {
    display: inline-block;
    cursor: pointer;
}


.press-about-us__item-hover:after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background: #c30215;
    transition: all .85s ease;

}

.press-about-us__item-hover:hover:after {
    width: 100%;

}

.theiaStickySidebar {
    padding-top: 1px;
    padding-bottom: 1px;
    position: static;
    transform: none;
    top: 0px;
    left: 934.5px;
}

.press-right-side-bar {
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    min-height: 1px;
}

/*.press-nav-bar-video-gallery {
    width: ;
}*/

.rigt-side-bar-theme-button-active {
  color: #c30215;
   &::before {
       content: '';
       position: absolute;
       width: 3px;
       height: 15px;
       background: #c30215;
       transition: height .8s ease;
       display: block;
       left: 0%;
   }
}