.press-searchbar-internal-pages {

    &:focus{
      &::-webkit-input-placeholder { 
        color:transparent; 
      }
      width: 90%;

      @media only screen and(max-width: 768px) {
        width: 70%;
      }

      @media only screen and(max-width: 600px) {
        width: 96%;
        min-width: 312px;
      }

      /*@media only screen and(max-width: 360px) {
        width: 312px;
      }*/
    }

      width: 52%;
      height: 100px;
      box-sizing: border-box;
      border: 2px solid #000000;;
      font-size: 24px;
      background-color: white;
      background-image: url('../../../img/press/search.svg');
      background-position: 30px center; 
      background-repeat: no-repeat;
      padding: 12px 58px 12px 50px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      margin-top: 50px;
      font-family: 'HeliosExt';
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      margin-bottom: 80px;
      display: flex;
      align-items: center;
      color: #333333;

      @media only screen and(max-width: 1679px) {
        font-size: 20px;
        width: 40%;
        min-width: 430px;

        height: 80px;
        padding: 12px 30px 12px 70px;
        background-position: 20px center;
      }

      /*@media only screen and(max-width: 1366px) {
        width: 40%;
        
        font-size: 20px;
        margin-bottom: 20px;
      }*/

      @media only screen and(max-width: 1100px) {
        width: 40%;
        min-width: 377px;
        height: 70px;
        font-size: 16px;
        background-position: 20px center; 
        padding: 12px 30px 12px 70px; ;
        margin-bottom: 20px;
      }

      /*@media only screen and(max-width: 768px) {
        width: 60%;
        min-width: 310px;
        height: 70px;
        font-size: 18px;
        padding: 12px 20px 12px 60px;
      }*/

      @media only screen and(max-width: 600px) {
        width: 96%;
        min-width: 100px;
        height: 57px;
        font-size: 13px;
        padding: 12px 20px 12px 60px;
        background-position: 10px 10px;
      }
      
      &::placeholder {
        text-align: center;
      }

  }

  .press-search-bar-video-gallery {
    padding: 12px 58px 12px 65px;
    background-position: 30px center;
    width: 36%;


}

.press-search-bar-video-gallery-container {
    width: 145%;
    margin-bottom: 80px;
    margin-top: 65px;
}