<footer class="footer footer--main">
    <div class="footer__outer">
       <div class="container">
          <div class="footer__row">
             <nav class="footer__nav">
                <ul class="footer__nav-list">
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="about.html">Компания</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="company_group.html">Дочерние предприятия</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="">Карта сайта</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="press.html">Пресс-центр</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="">Горячая линия</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="">Акционерам и инвесторам</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="contacts.html">Контакты</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="vacancies.html">Вакансии</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="tenders.html">Тендеры</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="rent-details.html">Аренда помещений</a>
                   </li>
                   <li class="footer__nav-item">
                      <a class="footer__nav-link" href="">Реквизиты</a>
                   </li>
                   <li class="footer__nav-item footer__nav-item--last">
                   </li>
                </ul>
                <p class="footer__adress">198097, Санкт-Петербург, пр. Стачек, 47</p>
             </nav>
             <div class="footer__contact">
                <div class="footer__contact-feedback">
                   <h6 class="footer__contact-title">Подписаться на наши новости</h6>
                   <form class="footer__contact-form" action="">
                      <div class="footer__contact-form__wrap">
                         <input class="footer__contact-input" type="mail" placeholder="E-mail">
                         <button class="footer__contact-submit" type="submit">
                            <svg class="footer__contact-submit-icon" width="40">
                               <use xlink:href="./img/sprite.svg#icon-mail-submit"></use>
                            </svg>
                         </button>
                      </div>
                   </form>
                </div>
                <ul class="footer__social-list">
                   <li class="footer__social-item" style="background-image: url(./img/social-youtube.svg);">
                      <a class="footer__social-link" href="">
                      <span class="visually-hidden">Youtube</span>
                      </a>
                   </li>
                   <li class="footer__social-item" style="background-image: url(./img/social-vk.svg);">
                      <a class="footer__social-link" href="">
                      <span class="visually-hidden">Vk</span>
                      </a>
                   </li>
                   <li class="footer__social-item" style="background-image: url(./img/social-inst.svg);">
                      <a class="footer__social-link" href="">
                      <span class="visually-hidden">Instagram</span>
                      </a>
                   </li>
                   <li class="footer__social-item" style="background-image: url(./img/social-fb.svg);">
                      <a class="footer__social-link" href="">
                      <span class="visually-hidden">Facebook</span>
                      </a>
                   </li>
                </ul>
             </div>
          </div>
          <section class="copyright">
             <h6 class="copyright__title">Copyrights © ПАО "Кировский завод"</h6>
             <a class="copyright__link" href="">Правила использования сайта</a>
             <a class="copyright__link" href="">Политика в области обработки персональных данных</a>
          </section>
       </div>
    </div>
 </footer>