<header class="header">
    <div class="container--header container--header--main">
       <div class="header__wrapper">
          <button class="c-nav-button js-nav-toggle" type="button">
             <div class="c-nav-button_wrap">
                <div class="c-nav-button_icon">
                   <span class="c-nav-button_line"></span>
                   <span class="c-nav-button_line"></span>
                   <span class="c-nav-button_line"></span>
                </div>
             </div>
          </button>
          <a class="header__logo" href="index.html">
             <svg class="header__logo-icon" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                   <path d="M29.684 17.9667L17.9667 29.684L6.32028 17.9667L17.9667 6.32028L29.684 17.9667ZM27.7666 8.16666L23.3637 0H12.5696L8.16666 8.16666L0 12.5696V23.3637L8.16666 27.7666L12.5696 35.9333H23.3637L27.7666 27.7666L35.9333 23.3637V12.5696L27.7666 8.16666Z" fill="#ED1C24"></path>
                   <path d="M20.4522 6.32031L34.087 13.7058V19.9551L20.4522 6.32031ZM22.2986 34.158H16.0493L29.6841 20.5232L22.2986 34.158ZM1.77539 22.2986V15.9783L15.4102 29.613L1.77539 22.2986ZM13.6348 1.77539H19.8841L6.32031 15.4812L13.6348 1.77539Z" fill="#FFDD00"></path>
                </g>
                <defs>
                   <clipPath id="clip0">
                      <rect width="35.9333" height="35.9333" fill="white"></rect>
                   </clipPath>
                </defs>
             </svg>
             <p class="header__logo-text">Кировский<br> завод</p>
          </a>
       </div>
       <div class="header__wrapper header__wrapper--university">
          <a class="header__logo header__logo--university" href="">
             <p class="header__university-text">Корпоративный<br> университет</p>
             <svg class="header__logo-unversity-icon">
                <use xlink:href="./img/sprite.svg#icon-university"></use>
             </svg>
          </a>
       </div>
    </div>
 </header>
 <nav class="nav">
    <div class="nav_background"></div>
    <div class="nav_list-wrap">
       <article class="nav_list-scroll">
          <div class="nav_list-left scrollbar-inner">
             <div class="nav_list-content">
                <div class="js-search-button">
                   <div class="js-search-text">Поиск</div>
                </div>
                <ul class="nav_list">
                   <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                         <span class="nav_link_text">Компания</span>
                         <svg class="nav_link__icon">
                            <use xlink:href="./img/sprite.svg#icon-arrow"></use>
                         </svg>
                      </div>
                      <span class="nav_link_line"></span>
                      <div class="nav_dropdown js-dropdown-list">
                         <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown_list">
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="about.html">О компании</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="leadership.html">Руководство</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="history.html">История</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="museum.html">Музей</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="production-system.html">Производственная система</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">Охрана труда</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">Профсоюз</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">Реквизиты</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                         <span class="nav_link_text">Дочерние предприятия</span>
                         <svg class="nav_link__icon">
                            <use xlink:href="./img/sprite.svg#icon-arrow"></use>
                         </svg>
                      </div>
                      <span class="nav_link_line"></span>
                      <div class="nav_dropdown js-dropdown-list">
                         <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown_list">
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="company_group.html">Основные предприятия</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="ptz.html">АО «Петербургский тракторный завод»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">АО «Завод «Киров-Энергомаш»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">АО «Металлургический завод «Петросталь»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">ООО «Объединенные заводы буровой техники им. В. В. Воровского»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">ООО «Кировский завод Газовые технологии»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="energy-department.html">Энергодепартамент</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">АО «Тетрамет»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">АО «Локомотив»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">АО «Проектно-конструкторское бюро «Автоматика»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#"> Предприятия социальной сферы</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="university.html">
                      <span class="nav_link_text">Корпоративный университет</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <!-- <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                          <span class="nav_link_text">Корпоративный университет</span>
                          <svg class="nav_link__icon"><use xlink:href="./img/sprite.svg#icon-arrow"></use></svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                          <div class="nav_dropdown_wrap">
                              <ul class="nav_dropdown_list">
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Обучение</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Сведения об образовательной организации </a>
                                  </li>
                                      <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Контакты</a>
                                  </li>
                              
                              </ul>
                          </div>
                      </div>
                      </li> -->
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="vacancies.html">
                      <span class="nav_link_text">Вакансии</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                         <span class="nav_link_text">Пресс-Центр</span>
                         <svg class="nav_link__icon">
                            <use xlink:href="./img/sprite.svg#icon-arrow"></use>
                         </svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                         <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown_list">
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press.html">Пресс-Центр</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press-news.html">Новости</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press-videogallery.html">Видеогалерея</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press-about-us.html">Пресса о нас</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press-photogallery.html">Фотогалерея</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="press-contacts.html">Контакты</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                         <span class="nav_link_text">Акционерам и инвесторам</span>
                         <svg class="nav_link__icon">
                            <use xlink:href="./img/sprite.svg#icon-arrow"></use>
                         </svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                         <div class="nav_dropdown_wrap">
                            <ul class="nav_dropdown_list">
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">Информация, подлежащая раскрытию ПАО «Кировский завод»</a>
                               </li>
                               <li class="nav_dropdown_item">
                                  <a class="nav_dropdown_link" href="#">Раскрытие информации дочерними обществами</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <!-- <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                          <span class="nav_link_text">Продажа активов</span>
                          <svg class="nav_link__icon"><use xlink:href="./img/sprite.svg#icon-arrow"></use></svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                          <div class="nav_dropdown_wrap">
                              <ul class="nav_dropdown_list">
                                  <li class="nav_dropdown_item">
                                      <a  class="nav_dropdown_link" href="#" >Объекты на продажу</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Непрофильное имущество</a>
                                  </li>
                                  
                              </ul>
                          </div>
                      </div>
                      </li> -->
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="#">
                      <span class="nav_link_text">Продажа активов</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="tenders.html">
                      <span class="nav_link_text">Тендеры</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="rent.html">
                      <span class="nav_link_text">Аренда помещений	</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <li class="nav_item">
                      <a class="nav_link js-nav-link" href="contacts.html">
                      <span class="nav_link_text">Контакты</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                   <!-- <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                          <span class="nav_link_text">Аренда помещений										</span>
                          <svg class="nav_link__icon"><use xlink:href="./img/sprite.svg#icon-arrow"></use></svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                          <div class="nav_dropdown_wrap">
                              <ul class="nav_dropdown_list">
                                  <li class="nav_dropdown_item">
                                      <a  class="nav_dropdown_link" href="#" >Производственные
                                          и складские помещения</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Офисные и торговые помещения</a>
                                  </li>
                                  
                              </ul>
                          </div>
                      </div>
                      </li> -->
                   <!-- <li class="nav_item -dropdown js-dropdown">
                      <div class="nav_link js-nav-link js-dropdown-toggle">
                          <span class="nav_link_text">Контакты										</span>
                          <svg class="nav_link__icon"><use xlink:href="./img/sprite.svg#icon-arrow"></use></svg>
                      </div>
                      <div class="nav_dropdown js-dropdown-list">
                          <div class="nav_dropdown_wrap">
                              <ul class="nav_dropdown_list">
                                  <li class="nav_dropdown_item">
                                      <a  class="nav_dropdown_link" href="#" >Пресс-центр</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Дочерние компании</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a  class="nav_dropdown_link" href="#" >Трудоустройство</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="#">Аренда</a>
                                  </li>
                                  <li class="nav_dropdown_item">
                                      <a class="nav_dropdown_link" href="museum.html">Музей</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      </li> -->
                   <!-- <li class="nav_item">
                      <a class="nav_link js-nav-link" href="#">
                          <span class="nav_link_text">Обратная связь</span>
                          <span class="nav_link_line"></span>
                      </a>
                      </li>
                      
                      <li class="nav_item">
                      <a class="nav_link js-nav-link" href="#">
                          <span class="nav_link_text">Горячая линия</span>
                          <span class="nav_link_line"></span>
                      </a>
                      </li>
                      <li class="nav_item">
                      <a class="nav_link js-nav-link" href="#">
                          <span class="nav_link_text">Реквизиты</span>
                          <span class="nav_link_line"></span>
                      </a>
                      </li> -->
                   <li class="nav_item">
                      <a class="nav_link nav_link--policy js-nav-link" href="#">
                      <span class="nav_link_text">Использование сайта</span>
                      <span class="nav_link_line"></span>
                      </a>
                   </li>
                </ul>
                <div class="nav_lang nav_lang--mobile">
                   <div class="nav_lang-wrap">
                      <ul class="nav_lang-list">
                         <li class="nav_lang-item">
                            <a class="nav_lang-link" href="">En</a>
                         </li>
                         <li class="nav_lang-item">
                            <a class="nav_lang-link current" href="">Ru</a>
                         </li>
                         <li class="nav_lang-item">
                            <a class="nav_lang-link" href="">De</a>
                         </li>
                         <!-- <li class="nav_lang-list">
                            <a class="nav_lang-link" href="">En</a>
                            </li> -->
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </article>
    </div>
    <div class="nav_search">
       <article class="search-wrap">
          <div class="search">
             <input class="search_input o-input -search js-search-input" type="text" placeholder="Поиск" value=""> 
             <div class="search_results js-search-results"></div>
          </div>
       </article>
    </div>
    <aside class="nav_aside">
       <ul class="nav_social">
          <li class="nav_social_item">
             <a class="nav_social_link" href="#" target="_blank">
                <svg class="nav_social_icon">
                   <use xlink:href="./img/sprite.svg#icon-fb"></use>
                </svg>
             </a>
          </li>
          <li class="nav_social_item">
             <a class="nav_social_link" href="#" target="_blank">
                <svg class="nav_social_icon">
                   <use xlink:href="./img/sprite.svg#icon-vk"></use>
                </svg>
             </a>
          </li>
          <li class="nav_social_item">
             <a class="nav_social_link" href="#" target="_blank">
                <svg class="nav_social_icon">
                   <use xlink:href="./img/sprite.svg#icon-youtube"></use>
                </svg>
             </a>
          </li>
          <li class="nav_social_item">
             <a class="nav_social_link" href="#" target="_blank">
                <svg class="nav_social_icon">
                   <use xlink:href="./img/sprite.svg#icon-inst"></use>
                </svg>
             </a>
          </li>
       </ul>
       <div class="nav_lang nav_lang--desktop">
          <div class="nav_lang-wrap">
             <ul class="nav_lang-list">
                <li class="nav_lang-item">
                   <a class="nav_lang-link current" href="">Ru</a>
                </li>
                <li class="nav_lang-item">
                   <a class="nav_lang-link" href="">En</a>
                </li>
                <li class="nav_lang-item">
                   <a class="nav_lang-link" href="">De</a>
                </li>
                <!-- <li class="nav_lang-list">
                   <a class="nav_lang-link" href="">En</a>
                   </li> -->
             </ul>
          </div>
       </div>
    </aside>
 </nav>