<ul class="social__btn-list">
    <li class="social__btn-item social__btn-item--share">
       <button class="social__btn" style="background-image: url(./img/social-share.svg);"></button>
       <div class="social__dropdown">
          <h5 class="social__title">Поделиться:</h5>
          <ul class="social__link-list">
             <li class="social__link-item">
                <a class="social__link" href="" target="_blank">
                   <svg class="social__icon">
                      <use xlink:href="./img//sprite.svg#icon-vk"></use>
                   </svg>
                   <span class="visually-hidden">Vk</span>
                </a>
             </li>
             <li class="social__link-item">
                <a class="social__link" href="" target="_blank">
                   <svg class="social__icon">
                      <use xlink:href="./img//sprite.svg#icon-inst"></use>
                   </svg>
                   <span class="visually-hidden">Instagram</span>
                </a>
             </li>
             <li class="social__link-item">
                <a class="social__link" href="" target="_blank">
                   <svg class="social__icon">
                      <use xlink:href="./img//sprite.svg#icon-fb"></use>
                   </svg>
                   <span class="visually-hidden">Facebook</span>
                </a>
             </li>
             <li class="social__link-item">
                <a class="social__link" href="" target="_blank">
                   <svg class="social__icon">
                      <use xlink:href="./img//sprite.svg#icon-youtube"></use>
                   </svg>
                   <span class="visually-hidden">Youtube</span>
                </a>
             </li>
          </ul>
       </div>
    </li>
    <li class="social__btn-item social__btn-item--message">
       <button class="social__btn" style="background-image: url(./img/social-message.svg);"></button>
       <div class="social__dropdown">
          <h5 class="social__title">Подписаться на новости</h5>
          <ul class="social__link-list">
             <li class="social__link-item">
                <a class="social__link" href="" target="_blank">
                   <svg class="social__icon">
                      <use xlink:href="./img//sprite.svg#icon-news"></use>
                   </svg>
                   <span class="visually-hidden">Подписаться</span>
                </a>
             </li>
          </ul>
       </div>
    </li>
 </ul>