.block_text--grey{
    background-color: $bg-color-light-grey;
}


.block_text{
    padding-top: 50px;
    padding-bottom: 50px;
    @media(min-width: 768px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.block_text__title{
    @extend %block-title;
}
.block_text__list{
    @include list-destroy;
    margin-top: 20px;

}
.block_text__item{
    margin-bottom: 25px;
}
.block_text__subtitle{
   @extend %block-title-inlist;
   padding-bottom: 5px;
}
.block_text__desc{
    @extend %block-text;
}

.block_text__paragraph{
    @extend %block-text;
    padding-top: 25px;
}
.block_text__smalllist{
    @include list-destroy;
    @extend %block-text;
    padding-top: 10px;
}
.block_text__smalllist li{
    margin-bottom: 5px;
    position: relative;
    padding-left: 28px;
}
.block_text__smalllist li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: $black-grey;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media(min-width: 768px){
    .block_text__list{
        
        margin-top: 35px;
    
    }
    .block_text__subtitle{
       
        padding-bottom: 5px;
     }
     .block_text__item{
        margin-bottom: 22px;
    }

    .block_text__paragraph{
        padding-top: 30px;
        width: 95%;
    }

    .block_text__smalllist{
   
        padding-top: 30px;
    }
}
@media(min-width: 1280px){
    .block_text{
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .block_text__list{
        
        margin-top: 50px;
    
    }
    .block_text__subtitle{
       
        padding-bottom: 10px;
     }
     .block_text__item{
        margin-bottom: 40px;
    }

    .block_text__paragraph{
        padding-top: 45px;
        width: 95%;
    }
    .block_text__smalllist{
   
        padding-top: 45px;
    }
    .block_text__smalllist li{
        margin-bottom: 20px;
    }
    .block_text__title{
        width: 90%;
    }
    
}
@media(min-width: 1680px){
    .block_text{
        padding-top: 90px;
    padding-bottom: 60px;
    }
    .block_text__title{
        width: 70%;
    }
    .block_text__list{
        
        margin-top: 60px;
        width: 80%;
    
    }
    .block_text__item{
        margin-bottom: 40px;
    }

    .block_text__paragraph{
        padding-top: 45px;
        width: 80%;
    }
    .block_text__smalllist{
        padding-top: 65px;
        padding-left: 50px;
    }
    .block_text__smalllist li::before{
        
        width: 13px;
    }
}