
.main{
	// background-color: #18213D;
	
	height: 435px;
	// height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100);
	// min-height: -webkit-fill-available;
	background-color: $black-grey;
	position: relative;
}


.parallax__img--inner{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	will-change: transform;
	
}

.parallax__img--inner--mobile{
	display: block;
}
.parallax__img--inner--laptop{
	display: none;
}
.parallax__img--inner--desktop{
	display: none;
}
.parallax__img--inner--tablet{
	display: none;
}

.parallax__img-video{
	// display: none;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: all 0.5s ease;
	height: 100%;
}
.parallax__img-video.active{
	display: block;
	z-index: 10;
}
.main .container{
	height: 100%;
}
.main__wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.main__title{
	@extend %title-main-screen;
	position: relative;
	perspective: 600px;
}


.title--inner-main{
	display: inline-block;
}

.button__video-controls-wrap{
	position: absolute;
	left: 4%;
	bottom: 15px;
	width: 35px;
	height: 35px;

}
.button__video-controls{
	@include btn-destroy;


	width: 35px;
	height: 35px;
	background-image: url(../img/btn-play.svg);
	background-size: 35px 35px;
}


.button__video-controls.active{
	background-image: url(../img/btn-pause.svg);
}
.button__video-controls--sound{
	background-image: url(../img/sound-off.svg);
}
.button__video-controls--sound.active{
	background-image: url(../img/sound-on.svg);
}

.hero-common__btn--main{
	margin-top: -50px;
	display: inline-block;
	margin-bottom: 22px;
	padding: 10px 30px;
	width: auto;
}
.button--main{
    color: $light-grey-color;
 
    &::after{
        background: $light-grey-color;
    }
    &:hover{
		color: $blue-color;
    }
    & .button-line--first{
        &::before{
            background-color: $light-grey-color;
        }
        &::after{
            background-color: $light-grey-color;
        }
    }
    & .button-line--two{
        &::before{
            background-color: $light-grey-color;
        }
        &::after{
            background-color: $light-grey-color;
        }
    }
}
// @media(max-width: 359px){
	.main__title{
		padding-bottom: 65px;
	}


// }
.btn-down{
	display: none;
}


@keyframes anim-btn{
	0%{
		transform:translateY(-3px);
	}
	50%{
		transform:translateY(0px);
	}
	100%{
		transform:translateY(3px);
	}
}
@media(max-width: 359px){
	.main__title{
		font-size: 25px;
	}
}
@media(min-width: 767px){
	
	.main{

		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
	}
	.main__title{
		padding-bottom: 0px;
	}
	.hero-common__btn--main{
		margin-top: 25px;
		display: inline-block;
		margin-bottom: 0px;
		padding: 15px 32px;
	}
	.parallax__img--inner--mobile{
		display: none;
	}
	.parallax__img--inner--laptop{
		display: none;
	}
	.parallax__img--inner--desktop{
		display: none;
	}
	.parallax__img--inner--tablet{
		display: block;
	}
	.parallax__img-video{
		object-fit: cover;
		width: 100%;
   		height: 100%;
	}

	.main__wrapper{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.button__video-controls-wrap{
		left: 2%;
		bottom: 20px;
		width: 35px;
		height: 35px;
		
	}
	.btn-down{
		position: absolute;
		bottom: 20px;
		// background-color: red;
		width: 35px;
		height: 35px;
		border: 1px solid #e6e6e6;
		background: transparent;
		right: 2%;
		// transform: translateX(-50%);
		cursor: pointer;
		outline: none;
		display: block;
		z-index: 1000;
	}
	.btn-down::after{
		content: "";
		position: absolute;
		background-image: url(../img/main/arrow-button-vertical.svg);
		width: 35px;
		height: 35px;
		background-position: center;
		background-size: 5px 15px;
		top:0;
		left: 0;
		background-repeat: no-repeat;
		animation-iteration-count: infinite;
		animation-name: anim-btn;
		animation-duration: 0.7s;
		animation-direction: alternate;
		animation-timing-function: linear;
	
	}
	
	
}

@media(min-width: 1280px){
	
	.title--inner-main br{
		display: none;
	}
	.main{
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
		min-height: -webkit-fill-available;	
	}
	.parallax__img-video{
	
		height: 100%;
    		width: 100%;
	}
	.parallax__img--inner--mobile{
		display: none;
	}
	.parallax__img--inner--laptop{
		display: block;
	}
	.parallax__img--inner--desktop{
		display: none;
	}
	.parallax__img--inner--tablet{
		display: none;
	}
	.button__video-controls{
	

		bottom: 25px;
		width: 50px;
		height: 50px;
		background-size: 50px 50px;
	
	}
	.button__video-controls-wrap{
		left: 2%;
		width: 50px;
		height: 50px;
	}
	.btn-down{
		right: 2%;
		width: 50px;
		height: 50px;

	}
	.btn-down::after{
		
		width: 50px;
		height: 50px;

		background-size: 5px 25px;

	
	}
	.hero-common__btn--main{
		margin-top: 30px;
		display: inline-block;
		margin-bottom: 0px;
		padding: 20px 60px;
	}
	
}

// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active),
// @supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
//     .parallax__img-video{
	
// 		height: auto;
//     		width: 100%;
// 	}
// }
@media(min-width: 1680px){


	.parallax__img--inner--mobile{
		display: none;
	}
	.parallax__img--inner--laptop{
		display: none;
	}
	.parallax__img--inner--desktop{
		display: block;
	}
	.parallax__img--inner--tablet{
		display: none;
	}

	// .button__video-controls{

	// 	width: 65px;
	// 	height: 65px;
	// 	background-size: 65px 65px;
	// }
	.button__video-controls-wrap{
		left: 3%;
		bottom: 20px;
		
	}
	.btn-down{
		right: 3%;
		bottom: 20px;
	}
	.hero-common__btn--main{
		margin-top: 30px;
		display: inline-block;
		margin-bottom: 0px;
		padding: 20px 60px;
	}
}

.video-overlay{
	background-color: rgba(24,33,61,.4);
	position: absolute;
	// z-index: 10;
	opacity: 0;
	transition: all 0.3s ease;
	width: 100%;
	height: 100%;
}