.preloader{
    background-color: #ffffff;
    width: 100vw;
    z-index: 20000;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.preloader__icon{
    width: 130px;
    height: 130px;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 6s linear 3s forwards infinite alternate;
    // animation-name: dash;
    // animation-duration: 8s;
    // animation-timing-function: ease; 
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-fill-mode: forwards;
}


