.tabs-common__wrapper{
  border-bottom: 2px solid #E2E2E2;
  margin-bottom: 10px;
}

.tabs-common {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}

.tabs-common a {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 24px;
  font-family: $font-regular;
  padding-bottom: 30px;
  color: #616161;
  border-bottom: 6px solid transparent;
  transition: all 0.5s ease;
}



.tabs-common a.active, .tabs-common a:hover {
  color: $red-color;
}

.tabs-common-links {
  position: relative;
}

.tabs-common-links:before {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 6px;
  background: $red-color;
  transition: all 0.6s ease;
}

.tabs-common-links:hover:before {
  width: 100%;
}
.tabs-common-links.active:before {
  width: 100%;
}
.tabs-common-container {
  // width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabs-common-content {
  display: none;
  font-family: $font-regular;
  animation: fadeEffect 1s;
  &.active {
    display: block;
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 1680px) {
  .tabs-common a {
    font-size: 18px;
    padding-bottom: 25px;
  }
}



@media screen and (max-width: 1279px) {
  .tabs-common a {
    font-size: 14px;
  }
  .tabs-common a {
    padding-bottom: 20px;
  }
  .tabs-common {
    position: relative;
    height: 45px;
    // overflow-x: scroll;
    width: 100%;
    overflow: hidden;
    margin-bottom: -10px;
  }
  .tabs-common-links:not(:last-child){
    margin-right: 20px;
  }

}

@media screen and (max-width: 767px) {
  .tabs-common a {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .tabs-common {
    height: 35px;
  }
  .tabs-common-links:not(:last-child){
    margin-right: 20px;
  }
  .tabs-common a.active {
    border-bottom: 4px solid $red-color;
  }
  .tabs-common-links:before {
   
    height: 4px;

  }
  .tabs-common a {
   
    border-bottom: 4px solid transparent;
  
  }
}
