.tabs-common__wrapper{

 
    // border-bottom: 2px solid #E2E2E2;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #E2E2E2;
      bottom: 0;
    }
 
}

.tabs-common {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}

.tabs-common a {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 24px;
  font-family: $font-regular;
  padding-bottom: 30px;
  color: #616161;
  border-bottom: 6px solid transparent;
  transition: all 0.5s ease;
}



.tabs-common a.active, .tabs-common a:hover {
  color: $red-color;
}

.tabs-common-links {
  position: relative;
}

.tabs-common-links:before {
  content:'';
  position: absolute;
  top: 99%;
  left: 0;
  width: 0;
  height: 6px;
  background: $red-color;
  transition: all 0.6s ease;
}

.tabs-common-links:hover:before {
  width: 100%;
}
.tabs-common-links.active:before {
  width: 100%;
}
.tabs-common-container {
  // width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabs-common-content {
  display: none;
  font-family: $font-regular;
  animation: fadeEffect 1s;
  &.active {
    display: block;
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 1680px) {
  .tabs-common a {
    font-size: 18px;
    padding-bottom: 25px;
  }
}



@media screen and (max-width: 1279px) {
  .tabs-common a {
    font-size: 14px;
  }
  .tabs-common a {
    padding-bottom: 20px;
  }
  .tabs-common {
    position: relative;
    height: 43px;
    // overflow-x: scroll;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0px;
  }
  .tabs-common-links:not(:last-child){
    margin-right: 20px;
  }

}

@media screen and (max-width: 767px) {
  .tabs-common a {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .tabs-common {
    height: 35px;
  }
  .tabs-common-links:not(:last-child){
    margin-right: 20px;

  }
  // .tabs-common a.active {
  //   border-bottom: 4px solid $red-color;
  // }
  .tabs-common-links:before {
   
    height: 4px;

  }
  .tabs-common a {
   
    border-bottom: 4px solid transparent;
  
  }
}


@media screen and (max-width: 480px) {
  .tabs-common {
    height: 29px;
  }
  .tabs-common a {
   
    border-bottom: 4px solid transparent;
  
  }
}

.tabs-common-content{
  position: relative;
}

.tabs_background, .tabs_background--next{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
.tabs_background--next{
	opacity: 0;
}

.tabs_background::before, .tabs_background::after {
	content: "";
	position: absolute;
	top: 1px;
	right: 0;
	bottom: 0;
	left: 0;
	  transform: scaleX(1);
	  transform-origin: center right;
	  transition: transform 5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .tabs_background::before {
    background-color:#f2f4f7;
    // transition-delay: 0.45s;
    z-index: 1;
  }
  
  .tabs_background::after {
    background-color: #ffffff;
    // transition-delay: 0.65s;
    z-index: 3;
  }

  .leave .tabs_background::after, .leave .tabs_background::before {
  // transform: scaleX(1);
    animation-name: animateBg;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  .leave .tabs_background::before{
    animation-delay: 0.1s;
  }

  .leave .tabs_background::before{
    animation-delay: 0.15s;
  }
  
  @keyframes animateBg{
    0%{
      transform: scaleX(1);
	    // transform-origin: center left;
    }
    30%{
      transform: scaleX(0);
    }
    50%{
      transform: scaleX(0);
    }
    // 70%{
    //   transform: scaleX(1);
    //   // transform-origin: center right;
    // }
    100%{
      transform: scaleX(0);
      // transform-origin: center right;
    }
  }
  // .tabs_background--next::before, .tabs_background--next::after {
  //   content: "";
  //   position: absolute;
  //   top: 1px;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //     transform: scaleX(1);
  //     transform-origin: center right;
  //   transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 1.4s;
  //   }
    
  
  
  //   .tabs_background--next::before {
  //   background-color: #f2f4f7;
  //   transition-delay: 1.65s;
  //   z-index: 1;
  //   }
    
  //   .tabs_background--next::after {
  //   background-color: #ffffff;
  //   transition-delay: 1.4s;
  //   z-index: 3;
  //   }
  
  //     .show .tabs_background--next{
  //     opacity: 1;
  //   }
  //   .show .tabs_background--next::after, .show  .tabs_background--next::before {
  //   transform: scaleX(0);
  
  //   }
  
  // .tabs_background--next::before {
  //     background-color: #f2f4f7;
  //     transition-delay: 1.75s;
  //     z-index: 1;
  // }
  
  // .tabs_background--next::after {
  //     background-color: #ffffff;
  //     transition-delay: 1.5s;
  //     z-index: 3;
  // }
  
  // .show .tabs_background--next {
  //     opacity: 1;
  // }
  
  // .show .tabs_background--next::after,
  // .show .tabs_background--next::before {
  //     transform: scaleX(0);
  // }