<aside class="actioner-sidebar">
    <nav class="actioner-sidebar-nav">
       <ul class="actioner-sidebar-list">
          <li class="actioner-sidebar-item">
             <a class="actioner-sidebar-item__link" href="actioners.html">Информация, подлежащая<br>раскрытию</a>
          </li>
          <li class="actioner-sidebar-item">
             <a class="actioner-sidebar-item__link" href="actioners-company.html">Раскрытие информации<br>дочерними обществами</a>
          </li>
       </ul>
    </nav>
    <div class="actioner-sidebar-container">
       <article class="actioner-sidebar-contacts">
          <h2 class="actioner-sidebar-header">Контакты</h2>
          <p class="actioner-sidebar-description">
             Отдел корпоративных отношений дирекции по правовым вопросам
          </p>
          <article class="actioner-sidebar-contact">
             <h3 class="actioner-sidebar-title">
                Адрес:
             </h3>
             <address class="actioner-sidebar-address">
                198097 Россия, Санкт-Петербург,<br> пр. Стачек, д. 47
             </address>
          </article>
          <article class="actioner-sidebar-contact">
             <h3 class="actioner-sidebar-title">
                Телефон / Факс:
             </h3>
             <address class="actioner-sidebar-address">
                <a href="tel:+78127020124">+7 (812) 702-01-24</a>
             </address>
          </article>
       </article>
    </div>
 </aside>