<section class="main parallax__item">
    <div class="parallax__img-wrap">
       <div class="parallax__img  " data-speed="-40">
    
        <div class="parallax__img--inner " style="background-image: url(./img/actioners/bg-investors.png);
            background-position: center;
            background-size: cover;">
        </div>
       </div>
    </div>
    <div class="container">
       <div class="main__wrapper">
          <h1 class="main__title main__title--about">
             <div class="title--inner-main tender-header-title active" data-name="actioners">Акционерам<br> 
                и инвесторам</div>
             <div class="title--inner-main tender-header-title" data-name="investors">Инвесторам</div>
 
          </h1>
       </div>
    </div>
 </section>