<div class="rent__wrapper">
    <div class="tabs-common__wrapper">
        <div class="container">

        
            <div class="tabs-common">

                <div class="tabs-common-container tabs-common-container--rent" id="barba-nav">
                    <a id="contacts" href="actioners.html" class="tabs-common-links tabs-common-links--barba active contacts-navigation-list__item " data-tab="actioners">
                        Акционерам
                        <svg id="arrow" class="contacts-navigation-list__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                        xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7 8L13 1" stroke="#C30215"/></svg>
                    </a>
                    <a href="investors.html" class="tabs-common-links tabs-common-links--barba" data-tab="purchases">Инвесторам</a>
                    
                </div>

            </div>
            <nav id="menu-container" class="contacts-menu-container">
                <ul class="contacts-menu__nav-list">
                   <li class="contacts-menu__nav-item" data-name="contacts-main">
                      <a class="contacts-sidebar__nav-link--mobile" href="actioners.html">Информация, подлежащая раскрытию</a>
                   </li>
                   <li class="contacts-menu__nav-item" data-name="management">
                      <a class="contacts-sidebar__nav-link--mobile" href="actioners-company.html">Раскрытие информации дочерними обществами</a>
                   </li>
                </ul>
             </nav>
        </div>
    </div>
</div>