

.aboutcompany_about{

	background-image: url(../img/about/about-parallax-fisrt-bg.svg);
	padding-bottom: 80px;
	background-size: cover ;
}




.parallax__img--aboutcompany {

	background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
 
  position: absolute;
	// z-index: -1;
	height: 370px;
	// background-size: 100% auto;
}



@media(min-width: 767px){
	
	.aboutcompany_about{
		background-size: cover ;
	}
	
	.parallax__img--aboutcompany {

		background-position: bottom center;
		background-size: auto 505px;
		background-repeat: no-repeat;
		width: 100%;
		position: absolute;
		z-index: -1;
		height: 505px;

	}

}

@media(min-width: 1280px){
    
    .aboutcompany_about{
		padding-bottom: 0;
        background-image: none;
    }
	
	.parallax__img--aboutcompany{

		background-position: bottom  center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		position: absolute;
		z-index: -1;
	
		
	}
	.parallax__img--aboutcompany-1{
		background-image: url(../img/about/about-parallax-first-1.svg);
		background-position: bottom  center;
		--overflow: -70px;
		// --overflow: -20%;
		height: calc(660px + (2 * var(--overflow)));
		top: calc( -1 * var(--overflow));
		
	}
	.parallax__img--aboutcompany-2{
		background-image: url(../img/about/about-parallax-first-2.svg);
		// --overflow: -15%;
		// --overflow: -150px;
		height: calc(660px + (2 * var(--overflow)));
		top: calc( -1 * var(--overflow));
		
	}
	.parallax__img--aboutcompany-3{
		background-image: url(../img/about/about-parallax-first-3.svg);
		// --overflow: -150px;
		// --overflow: -200px;
		// --overflow: -50%;
		height: calc(660px + (2 * var(--overflow)));
		top: calc( -1 * var(--overflow));
	
	}




	

}

@media(min-width: 1680px){
	
	// .parallax__img--kirovets_about{
	
	// 	height: 960px;
	// 	// background-size: 100% auto;
	// }

	// .parallax__img--kirovets_about-1{
	// 	background-image: url(../img/img-parallax-1.svg);
	// 	background-position: bottom  center;
	// 	--overflow: -150px;
	// 	// --overflow: -20%;
	// 	height: calc(660px + (2 * var(--overflow)));
	// 	top: calc( -1 * var(--overflow));
		
	// }
	// .parallax__img--kirovets_about-2{
	// 	background-image: url(../img/img-parallax-2.svg);
	// 	// --overflow: -15%;
	// 	--overflow: -150px;
	// 	height: calc(660px + (2 * var(--overflow)));
	// 	top: calc( -1 * var(--overflow));
		
	// }
	// .parallax__img--kirovets_about-3{
	// 	background-image: url(../img/img-parallax-3.svg);
	// 	// --overflow: -150px;
	// 	--overflow: -300px;
	// 	// --overflow: -50%;
	// 	height: calc(660px + (2 * var(--overflow)));
	// 	top: calc( -1 * var(--overflow));
	
	// }
	// .parallax__img--kirovets_about-4{
	// 	background-image: url(../img/img-parallax-4.svg);
	// 	// --overflow: -25%;
	// 	--overflow: -200px;
	// 	height: calc(660px + (2 * var(--overflow)));
	// 	top: calc( -1 * var(--overflow));
	// }


}