

.main__title--about{
	font-size: 30px;
}

@media(min-width: 767px){
	.main__title--about{
		font-size: 48px;
		line-height: 48px;
	}
}

@media(min-width: 1280px){
	.main__title--about{
		font-size: 64px;
		line-height: 64px;
	}
}

@media(min-width: 1680px){
	.main__title--about{
		font-size: 90px;
		line-height: 90px;
	}
}