.tenders__main {
  padding: 45px 0 10px 0;
  overflow: hidden;
  position: relative;
}

.tenders--container .common-pagination__list {
  margin: 30px 0;
}

.tenders__underblock {
  background: rgba(242, 244, 247, 0.47);
  padding: 40px 0;
  font-family: $font-text-regular;
  &-content {
    display: flex;
    flex-direction: column;
    color: #3C3D40;
    & div {
      display: flex;
      flex-direction: column;
      & label {
        display: flex;
        align-items: baseline;
        margin-right: 65px;
        margin-bottom: 10px;
      }
    }
  }
  &-text {
    font-family: $font-text-light;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  &-title {
    font-size: 14px;
    color: #616161;
    margin-right: 10px;
    font-family: $font-text-light;
  }
  &-link {
    font-size: 14px;
    color: #171C28;
    transition: .3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

.tab-tenders {
  margin-right: 20% !important;
  &-container {
    justify-content: flex-start !important;
  }
}

.tenders-tabs {
  border-bottom: 2px solid #e2e2e2;
}

.tenders-tabs__wrapper {
  border-bottom: unset;
  margin-bottom: 35px;
}

.tenders-tabs-content {
  position: relative;
  overflow-x: scroll;
}

.tenders__main .tenders--container {
  padding-right: unset;
}

.tenders__main-socials {
  right: 3.5%;
  top: 11%;
  display: none;
  z-index: 500;
}

.b-table {
  width: 1100px;
  &__header {
    background-color: #171C28;
    height: 64px;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__item {
    color: #F2F4F7;
    font-family: $font-text-light;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    &-col-1 {
      width: 35%;
      display: flex;
      justify-content: space-between;
    }
    &-col-2 {
      width: 17%;
    }
    &-col-3 {
      width: 15%;
    }
    &-col-4 {
      width: 12%;
    }
    &-col-5 {
      width: 12%;
    }
    &-col-6 {
      width: 9%;
    }
  }
}

.b-table__label {
  background-color: rgba(255, 255, 255, 0.19);;
  height: 100%;
  width: 37%;
  display: flex;
  padding-left: 20px;
  position: relative;
  &-icon {
    margin-right: 25px;
  }
  & input {
    background-color: transparent;
    border: none;
    color: #F2F4F7;
    font-size: 14px;
    outline: none;
    margin-left: 10px;
    font-family: $font-text-regular;
    width: 100%;
    padding-right: 10px;

    &:focus {
      border: transparent;
      background-color: transparent;
    }

    &::-webkit-input-placeholder {
      color: #F2F4F7;
    }

    &::-moz-placeholder {
      color: #F2F4F7;
    }
  }
}

.b-table__container {
  display: flex;
  //border-bottom: 1px solid #CECECE;
  border-bottom: 2px solid #E2E2E2;
  transition: .3s;
  position: relative;
}

.b-table__container:before {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background: $red-color;
  transition: all 0.85s ease;
}

.b-table__container:hover:before {
  width: 100%;
}

.b-table__link-tender {
  color: #171C28;
  transition: .3s;
  padding-right: 10%;
  &:hover {
    opacity: 0.45;
  }
}

.b-table__row {
  line-height: 22px;
  display: flex;
  flex-direction: row;
  font-family: $font-text-regular;
  color: #171C28;
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
  &-downloads {
    color: #C30215;
    text-decoration: underline;
    transition: .3s;
    &:hover {
      opacity: 0.7;
    }
  }
  &-1 {
    width: 35%;
    font-size: 14px;
  }
  &-2 {
    width: 17%;
  }
  &-3 {
    width: 15%;
  }
  &-4 {
    width: 12%;
  }
  &-5 {
    width: 12%;
  }
  &-6 {
    width: 9%;
  }
}

.b-table__item--search-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media(min-width: 767px){
  .tab-tenders {
    margin-right: 10%!important;
  }
  .tenders__main {
    padding: 45px 0 30px 0;
  }
  .b-table__link-tender {
    padding-right: 0;
  }
  .b-table__label {
    width: 53%;
  }
  .b-table {
    width: 1100px;
  }
  .b-table__row {
    font-size: 12px;
  }
  .b-table__row-1 {
    font-size: 16px;
  }
  .tenders__underblock-content div {
    flex-direction: row;
  }
  .b-table__item--search-icon {
    width: unset;
    height: unset;
    position: relative;
    top: unset;
    transform: unset;
  }
  .b-table {
    &__item {
      color: #F2F4F7;
      font-family: $font-text-light;
      font-size: 14px;
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 20px;
      &-col-1 {
        width: 40%;
        display: flex;
        justify-content: space-between;
      }
      &-col-2 {
        width: 18%;
      }
      &-col-3 {
        width: 12%;
      }
      &-col-4 {
        width: 10%;
      }
      &-col-5 {
        width: 10%;
      }
      &-col-6 {
        width: 10%;
      }
    }
  }
  .b-table__row {
    &-1 {
      width: 40%;
      font-size: 14px;
    }
    &-2 {
      width: 18%;
    }
    &-3 {
      width: 12%;
    }
    &-4 {
      width: 10%;
    }
    &-5 {
      width: 10%;
    }
    &-6 {
      width: 10%;
    }
  }
}

@media(min-width: 1023px){
  .tab-tenders {
    margin-right: 10%!important;
  }
}

@media(min-width: 1279px){
  .b-table {
    width: 1155px;
  }
  .tenders--container .common-pagination__list {
    margin: 40px 0;
  }
  .tenders-tabs-content {
    overflow: hidden;
  }
  .tab-tenders {
    margin-right: 85px !important;
  }
  .tenders__underblock-text {
    font-size: 22px;
    line-height: 36px;
  }
  .tenders__underblock-title {
    font-size: 16px;
  }
  .tenders__underblock-link {
    font-size: 22px;
  }
  .b-table__row-2 {
    width: 16%;
  }
  .b-table__item-col-2 {
    width: 16%;
  }
  .b-table__item-col-4 {
    width: 12%;
  }
  .b-table__row-4 {
    width: 12%;
  }
}

@media(min-width: 1364px){
  .b-table {
    width: 1250px;
  }

}

@media(min-width: 1559px){
  .b-table {
    width: 100%;
  }
  .tenders__main .tenders--container {
    padding-right: 8%;
  }
  .tenders__underblock-text {
    font-size: 24px;
    line-height: 42px;
  }
  .tenders__underblock-title {
    font-size: 18px;
  }
  .tenders__underblock-link {
    font-size: 24px;
  }
  .tenders__main-socials {
    display: flex;
  }
}

@media(min-width: 1679px){
  .b-table__item {
    font-size: 14px;
  }
  .b-table__row {
    font-size: 14px;
  }
  .b-table__row-1 {
    font-size: 20px;
  }
  .tenders-tabs-content {
    overflow: hidden;
  }
  .tenders__main .tenders--container {
    padding-right: 9%;
  }
  .tenders__underblock-title {
    margin-right: 15px;
  }
  .tenders--container .common-pagination__list {
    margin: 70px 0;
  }
}