.tenders__main {
  padding: 45px 0;
}

.tab-tenders {
  margin-right: 30% !important;
}

.b-table {
  &__header {
    background-color: #171C28;
    height: 64px;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__item {
    color: #F2F4F7;
    font-family: $font-text-regular;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    &-col-1 {
      width: 22%;
    }
    &-col-2 {
      width: 28%;
    }
    &-col-3 {
      width: 15%;
    }
    &-col-4 {
      width: 8%;
    }
    &-col-5 {
      width: 9%;
    }
    &-col-6 {
      width: 8%;
    }
    &-col-7 {
      width: 10%;
    }
    &--search {
      background-color: #A6A2A2;
      &-icon {
        margin-right: 25px;
      }
      & input {
        background-color: transparent;
        border: none;
        color: #F2F4F7;
        font-size: 14px;
        font-family: $font-text-regular;
        &:focus {
          border: none;
        }
        &::-webkit-input-placeholder {
          color: #F2F4F7;
        }
        &::-moz-placeholder {
          color: #F2F4F7;
        }
      }
    }
  }
}