.leadership_about {
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.leadership__title {
    @extend %block-title;
    padding-top: 45px;
    width: 87%;
    position: relative;
}

.leadership__desc {
    padding-top: 35px;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-text-regular;
    color: $grey-text-paragraf;
}

.leadership_general {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.leadership_general--pic {
    background-image: url(../../../img/leadership/bg-semenenko.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    margin-bottom: 15px;
}

.leadership_general--text {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        width: 0;
        height: 4px;
        background: $red-color;
        transition: all 0.6s ease;
    }
}

.leadership_general--text-about {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}

.leadership_general--text-name {
    font-family: $font-regular;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $black-grey;
    font-family: $font-bold-2-title;
    transition: all 0.6s ease;
}

.leadership_general--text-position {
    font-family: $font-text-light;
    color: $grey-text-paragraf;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.leadership_general--text-details {
    font-family: $font-text-light;
    color: $grey-text-paragraf;
    font-size: 14px;
    display: block;
}

.leadership_unit--list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    &:after {
        content: "";
        flex: auto;
    }
}

.leadership_unit {
    display: flex;
    flex-direction: column;
    width: 48.5%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 2.5%;
    &:nth-child(2n) {
        margin-right: 0;
    }
    &:hover .leadership_unit--text-name {
        color: $red-color;
    }
}

.leadership_unit--pic {
    margin-bottom: 12px;
    font-size: 0;
    min-height: 59%;
    & img {
        height: 100%;
        object-fit: cover;
    }
}

.leadership_unit--pic img {
    width: 100%;
}

.leadership_unit--text-name {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    color: $black-grey;
    font-family: $font-bold-2-title;
    transition: all 0.6s ease;
    text-transform: uppercase;
    min-height: 54px;
}

.leadership_unit--text-position {
    font-family: $font-text-light;
    color: $grey-text-paragraf;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    transition: all 0.6s ease;
}

@media (min-width: 767px) {
    .leadership__title {
        width: 100%;
    }
    .leadership__desc {
        padding-top: 20px;
        line-height: 24px;
    }
    .leadership_general {
        flex-direction: row;
        background-image: url(../../../img/leadership/bg-semenenko.jpg);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        min-height: 218px;
        margin-bottom: 40px;
    }
    .leadership_general--pic {
        background-image: none;
        margin-bottom: 0;
        width: 34.5%;
        align-self: flex-end;
    }
    .leadership_general--text-name {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 9px;
        color: #fff;
    }
    .leadership_general--text-position {
        color: #fff;
        letter-spacing: 0.02em;
        font-size: 18px;
        line-height: 23px;
    }
    .leadership_general--text-details {
        font-size: 14px;
        color: #fff;
    }
    .leadership_unit {
        width: 31.4%;
        margin-right: 2%;
        margin-bottom: 25px;
        position: relative;
        &:nth-child(2n) {
            margin-right: 2%;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 4px;
            background: $red-color;
            transition: all 0.6s ease;
        }
        &:hover:before {
            width: 100%;
        }
    }
    .leadership_unit--pic {
        margin-bottom: 17px;
        min-height: 72%;
    }
    .leadership_unit--text-name {
        font-size: 14px;
        line-height: 20px;
        min-height: 36px;
    }
    .leadership_unit--text-position {
        font-size: 14px;
    }
}

@media(min-width: 1280px) {
    .main__title--about.leadership-title {
        font-size: 64px;
    }
    .leadership__desc {
        padding-top: 30px;
        font-size: 16px;
        line-height: 26px;
    }
    .leadership_general--text {
        padding-bottom: 30px;
    }
    .leadership_general {
        margin-bottom: 60px;
        min-height: 363px;
        &:hover {
            .leadership_general--text-name {
                color: $red-color;
            }
            .leadership_general--text {
                &:before {
                    width: 100%;
                }
            }
        }
    }
    .leadership_general--text-about {
        margin-bottom: 30px;
    }
    .leadership_general--pic {
        width: 37.5%;
    }
    .leadership_general--text-name {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 6px;
    }
    .leadership_general--text-position {
        font-size: 30px;
        line-height: 36px;
    }
    .leadership_general--text-details {
        display: block;
        overflow: hidden;
        transition: .2s;
    }
    .leadership_unit {
        width: 23%;
        margin-bottom: 55px;
        padding-bottom: 10px;
        &:nth-child(3n) {
            margin-right: 2%;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    .leadership_unit--pic {
        margin-bottom: 19px;
        min-height: 73%;
    }
    .leadership_unit--text-name {
        font-size: 16px;
        line-height: 24px;
    }
    .leadership_unit--text-position {
        font-size: 16px;
        line-height: 20px;
    }
}

@media(min-width: 1680px) {
    .leadership__desc {
        padding-top: 35px;
        font-size: 18px;
        line-height: 28px;
    }
    .leadership_general--text-name {
        font-size: 46px;
        line-height: 135%;
        margin-bottom: 20px;
    }
    .leadership_general--text-position {
        font-size: 36px;
        line-height: 38px;
    }
    .leadership_unit--pic {
        min-height: 82%;
    }
    .leadership_unit {
        padding-bottom: 20px;
        width: 23.5%;
    }
    .leadership_unit--text-name {
        min-height: 48px;
    }
}