<section class="frame">

    <div class="frame-container">
        <img src="./img/main/panorama.png" alt="панорама завода" class="panorama">

        <div class="frame__layer"></div>
        <div class="pin-block pin-block-0">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__0">
                <div>
                    <h4>Музей истории и техники Кировского завода
                        ДКиТ им. И. И. Газа, правое крыло</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-1">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__1">
                <div>
                    <h4>Проектно-конструкторское бюро</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-2">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__2">
                <div>
                    <h4>Причал</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-3">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__3">
                <div>
                    <h4>Испытательный стенд для паротурбинных установок</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-4">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__4">
                <div>
                    <h4>Производство АГНКС</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-5">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__5">
                <div>
                    <h4>Цех механообработки</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-6">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__6">
                <div>
                    <h4>Модернизация ж/д техники</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-7">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__7">
                <div>
                    <h4>Производство буровой техники</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-8">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__8">
                <div>
                    <h4>Корпоративный университет</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-9">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__9">
                <div>
                    <h4>Памятник-танк ИС-2</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-10">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__10">
                <div>
                    <h4>Дирекция по производственной системе и качеству</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-11">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__11">
                <div>
                    <h4>Генеральная дирекция</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-12">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__12">
                <div>
                    <h4>Главный тракторный конвейер</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-13">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__13">
                <div>
                    <h4>Производство трансмиссий</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-14">
            <img src="./img/pinmap.svg" alt="иконка" class="pin">
            <div class="pin-popup pin-popup__14">
                <div>
                    <h4>Производство АГНКС</h4>
                    <a data-fancybox href="https://www.youtube.com/watch?v=hSGd8HI7-z0&feature=emb_logo" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/main/map-arrow.svg" alt="стрелки" class="map-arrows">
</section>