<section class="frame">

    <div class="frame-container">
        <img src="./img/main/panorama.png" alt="панорама завода" class="panorama">

        <div class="frame__layer"></div>
        <div class="pin-block pin-block-0">
            <a href="#pin-id-0" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__0">
                <div>
                    <h4 id="pin-id-0">Музей истории и техники Кировского завода
                        ДКиТ им. И. И. Газа, правое крыло</h4>
                    <a data-fancybox href="./video/museum.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-1">
            <a href="#pin-id-1" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__1">
                <div>
                    <h4 id="pin-id-1">Проектно-конструкторское бюро</h4>
                    <a data-fancybox href="./video/automatics.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-2">
            <a href="#pin-id-2" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__2">
                <div>
                    <h4 id="pin-id-2">Причал</h4>
                    <a data-fancybox href="./video/automatics.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-3">
            <a href="#pin-id-3" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__3">
                <div>
                    <h4 id="pin-id-3">Испытательный стенд для паротурбинных установок</h4>
                    <a data-fancybox href="./video/ispitatelny-stend-kem.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-4">
            <a href="#pin-id-4" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__4">
                <div>
                    <h4 id="pin-id-4">Объекты энергокомплекса</h4>
                    <a data-fancybox href="./video/energy-complex.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-5">
            <a href="#pin-id-5" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__5">
                <div>
                    <h4 id="pin-id-5">Цех механообработки</h4>
                    <a data-fancybox href="./video/uchastok-chpu-kem.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div id="central-pin" class="pin-block pin-block-6">
            <a href="#pin-id-6" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__6">
                <div>
                    <h4 id="pin-id-6">Модернизация ж/д техники</h4>
                    <a data-fancybox href="./video/lokomotiv.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-7">
            <a href="#pin-id-7" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__7">
                <div>
                    <h4 id="pin-id-7">Производство буровой техники</h4>
                    <a data-fancybox href="./video/oztb.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-8">
            <a href="#pin-id-8" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__8">
                <div>
                    <h4 id="pin-id-8">Корпоративный университет</h4>
                    <a data-fancybox href="./video/copr-university.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-9">
            <a href="#pin-id-9" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__9">
                <div>
                    <h4 id="pin-id-9">Памятник-танк ИС-2</h4>
                    <a data-fancybox href="./video/TANK.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-10">
            <a href="#pin-id-10" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__10">
                <div>
                    <h4 id="pin-id-10">Дирекция по производственной системе и качеству</h4>
                    <a data-fancybox href="./video/direction-prod-system.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-11">
            <a href="#pin-id-11" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__11">
                <div>
                    <h4 id="pin-id-11">Генеральная дирекция</h4>
                    <a data-fancybox href="./video/zdanie-zdu.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-12">
            <a href="#pin-id-12" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__12">
                <div>
                    <h4 id="pin-id-12">Главный тракторный конвейер</h4>
                    <a data-fancybox href="./video/pzt-konveer.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-13">
            <a href="#pin-id-13" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__13">
                <div>
                    <h4 id="pin-id-13">Производство трансмиссий</h4>
                    <a data-fancybox href="./video/pzt-transmission-shop.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
        <div class="pin-block pin-block-14">
            <a href="#pin-id-14" class="pin-link">
                <img src="./img/pinmap.svg" alt="иконка" class="pin">
            </a>
            <div class="pin-popup pin-popup__14">
                <div>
                    <h4 id="pin-id-14">Производство АГНКС</h4>
                    <a data-fancybox href="./video/kzgt.mp4" class="pin-popup__link">
                        <img src="./img/play-btn.svg" alt="иконка">
                        смотреть видео
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/main/map-arrow.svg" alt="стрелки" class="map-arrows">
</section>