
.vacancies_wrapper .container {
  height: 100%;
}


//section vacancies list

.vacancies_vacancies {
  padding: 70px 0 70px 0;
}

.vacancies_vacancies .container {
  position: relative;
}


.vacancies_vacancy-desc {
  font-size: 24px;
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  color: #171C28;
  border-bottom: 2px solid #E2E2E2;
  transition: .3s;
  position: relative;
}

.vacancies_vacancy-desc:before {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background: $red-color;
  transition: all 0.6s ease;
}

.vacancies_vacancy-desc:hover:before {
  width: 100%;
}

.vacancies_vacancy-desc:hover h5 {
  color: #C30215;
}

.vacancies_vacancy-desc h5 {
  font-size: 24px;
  font-weight: normal;
}

.vacancies_vacancy-desc span {
  color: #BDBDBD;
}

.vacancies_pagination__list {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 30px 0;
}

.vacancies_pagination__item {
  margin: 0 15px;
  font-family: $font-for-number-light;
}

.vacancies_pagination__link {
  font-size: 34px;
  color: #A6A2A2;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  &--active {
    color: #fff;
    background-color: #171C28;
  }
}
.vacancies_pagination__link:hover {
  color: #fff;
  background-color: #171C28;
  transition: .5s;
}

.vacancies_pagination__arrow {
  width: 14px;
  height: 22px;
  display: block;
}

.vacancies_care {
  background-color: #FAFAFA;
  min-height: 570px;
  padding: 90px 0 60px 0;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
  }
  &__item {
    font-family: $font-regular;
    width: 30%;
  }
  &__name {
    font-size: 24px;
    color: #171C28;
    margin: 30px 0;
  }
  &__desc {
    font-size: 18px;
    color: #616161;
    line-height: 22px;
    font-family: $font-text-light;
  }
}

.vacancies_care__title {
  font-size: 36px;
  margin-bottom: 75px;
  @extend %block-title;
  & span {
    color: $red-color;
  }
}

.vacancies_svg path {
  fill: #D1D0D0;
  transition: .3s;
}

.vacancies_svg:hover path {
  fill: #000;
}

.vacancies_svg--rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 1921px) {
  .vacancies_care__item {
    width: 28%;
  }
}

@media screen and (max-width: 1441px) {
  .tabs-common button, .vacancies_vacancy-desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 1367px) {
  .tabs-common button, .vacancies_vacancy-desc, .vacancies_vacancy-desc h5 {
    font-size: 20px;
  }
  .vacancies_info__item {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1281px) {
  .vacancies_pagination__link {
    font-size: 28px;
    width: 50px;
    height: 50px;
  }
  .vacancies_pagination__list {
    align-items: center;
  }
  .vacancies_care__desc {
    font-size: 16px;
  }
  .tabs-common button {
    font-size: 18px;
  }
  .vacancies_hero__title {
    font-size: 64px;
  }
}

@media screen and (max-width: 1025px) {
  .vacancies_info__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .vacancies_info__link {
    font-size: 14px;
  }
  .vacancies_info__icon {
    margin-right: 5px;
  }
  .vacancies_hero__btn {
    padding: 20px 40px;
  }
  .tabs-common button {
    font-size: 14px;
  }
  .vacancies_vacancy-desc, .vacancies_vacancy-desc h5 {
    font-size: 16px;
  }
  .vacancies_vacancy-desc {
    padding: 30px 0;
  }
  .tabs-common button {
    padding-bottom: 20px;
  }
  .vacancies_pagination__link {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
  .vacancies_svg {
    height: 16px;
  }
  .vacancies_pagination__list {
    align-items: baseline;
  }
  .vacancies_care__name {
    font-size: 20px;
    margin: 20px 0;
  }
  .vacancies_care__desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 801px) {
  .vacancies_hero__title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .vacancies_hero__btn {
    padding: 15px 30px;
    font-size: 12px;
  }
  .vacancies_info__item {
    margin-right: 40px;
    &:last-child {
      display: none;
    }
  }
  .vacancies_info__link {
    font-size: 18px;
  }
  .vacancies_info__icon {
    margin-right: 15px;
  }
}

@media screen and (max-width: 769px) {
  .vacancies_hero__btn {
    width: 310px;
  }
  .vacancies_hero {
    height: 508px;
  }
  .vacancies_hero__info {
    height: 68px;
  }
  .vacancies_vacancy-name {
    font-size: 14px;
  }
  .vacancies_care {
    padding: 25px 0 40px 0;
    min-height: 450px;
  }
  .vacancies_care__title {
    margin-bottom: 35px;
  }
  .vacancies_care__title span {
    margin-top: 15px;
    display: block;
  }
  .vacancies_care__name {
    font-size: 14px;
    font-weight: bold;
  }
  .vacancies_care__img {
    width: 50%;
  }
  .vacancies_vacancies {
    padding-bottom: 0;
  }
  .tabs-common {
    position: relative;
    height: 42px;
    overflow-x: scroll;
  }
  .tabs-common-container {
    width: 900px;
    position: absolute;
  }
}

@media screen and (max-width: 481px) {
  .vacancies_hero__btn {
    width: unset;
  }
  .vacancies_hero__title {
    font-size: 32px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 180px;
    z-index: 1;
  }
  .vacancies_hero__btn {
    padding: 10px 16px;
    font-size: 10px;
    display: block;
    width: 216px;
  }
  .vacancies_hero__layer {
    background-color: #0f0f0f85;
  }
  .vacancies_info__list {
    justify-content: space-between;
  }
  .vacancies_info__item {
    margin-right: 0;
  }
  .vacancies_info__icon {
    margin-right: 10px;
  }
  .tabs-common button {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .vacancies_vacancy-desc, .vacancies_vacancy-desc h5 {
    font-size: 14px;
  }
  .vacancies_vacancy-desc h5 {
    margin-right: 40px;
  }
  .vacancies_care__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .vacancies_care__title span {
    margin-top: 0;
  }
  .vacancies_care__list {
    flex-direction: column;
  }
  .vacancies_care__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .vacancies_care__img {
    width: 65px;
  }
  .vacancies_care__name {
    margin: 10px 0;
  }
  .tabs-common-container {
    width: 750px;
  }

  .tabs-common {
    height: 32px;
  }
}

@media screen and (max-width: 415px) {
  .vacancies_vacancy-desc span {
    font-size: 12px;
  }
  .vacancies_vacancy-desc h5 {
    font-size: 14px;
  }
  .vacancies_info__link {
    font-size: 14px;
  }
  .tabs-common button.active, .tabs-common button:hover {
    border-bottom: 4px solid #c30215;
  }
  .tabs-common-container {
    width: 700px;
  }

}

@media screen and (max-width: 376px) {
  .tabs-common {
    height: 30px;
  }
}