.vacancies-d__hero {
  padding: 125px 0;
  height: 100%;
}

.vacancies-d__breadcrumb {
  font-family: $font-regular;
  font-size: 18px;
  color: #616161;
  transition: .4s;
  svg path {
    transition: .4s;
  }
  &:hover {
    color: #000000;
  }
  &:hover svg path {
    fill: #000;
  }
}

.vacancies-d__title {
  @extend %block-title;
  width: 45%;
  margin: 50px 0 20px 0;
}

.vacancies-d__date {
  font-family: $font-regular;
  font-size: 18px;
  color: #67676A;
  opacity: 0.45;
  margin-bottom: 60px;
  display: block;
}

.vacancies-d__name {
  font-family: $font-regular;
  font-size: 18px;
  color: #1A1D29;
}

.vacancies-d__list {
  list-style: none;
  position: relative;
  margin-bottom: 30px;
}

.vacancies-d__item {
  font-family: $font-text-light;
  color: #3C3D40;
  font-size: 18px;
  display: flex;
  margin-left: 190px;
  & p {
    margin: 10px 0 10px 10px;
    position: relative;
    width: 80%;
    line-height: 1.4;
    &:before {
      position: absolute;
      display: block;
      content: "—";
      left: -25px;
    }
  }
  & h6 {
    position: absolute;
    left: 0;
    top: 9px;
  }
}

.vacancies-d__description {
  display: flex;
}

.vacancies-d__buttons {
  margin-left: 170px;
}

.vacancies-d__response {
  color: #171C28;
  font-family: $font-text-regular;
  font-weight: bold;
  padding: 25px 75px;
  font-size: 14px;
}

.vacancies-d__download {
  cursor: pointer;
  font-family: $font-regular;
  font-size: 18px;
  text-transform: uppercase;
  color: #616161;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #616161;
  margin-left: 50px;
  transition: .3s;
  padding-bottom: 12px;
  &:hover {
    color: #0F0F0F;
    border-bottom: 1px solid #0F0F0F;

  }
}

.vacancies-d__form {
  font-family: $font-text-regular;
  width: 950px;
  height: 670px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 500;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-close {
    position: absolute;
    top: 4%;
    right: 3%;
    cursor: pointer;
    transition: .3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 900;
  }
  &-layer {
    width: 100%;
    height: 100%;
    background-color: #000000ab;
  }
  &-buttons {
    padding-left: 300px;
    padding-right: 30px;
  }
  &-buttons--block {
    display: flex;
    align-items: center;
  }
  & h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
  }
  &-inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  &-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: center;
    &:last-child {
      align-items: baseline;
    }
    & span {
      font-size: 18px;
      text-transform: uppercase;
      color: #616161;
    }
    & input {
      width: 468px;
      height: 42px;
      border-radius: 3px;
      background-color: #F6F6F6;
      border: 1px solid #DCE0E3;
      padding-left: 10px;
      font-family: $font-text-regular;
      font-size: 18px;
    }
    & textarea {
      width: 468px;
      height: 105px;
      border-radius: 3px;
      background-color: #F6F6F6;
      border: 1px solid #DCE0E3;
      resize: none;
      padding-left: 10px;
      font-family: $font-text-regular;
      font-size: 18px;
      padding-top: 10px;
    }
  }
}

.vacancies-d__submit {
  padding: 15px 70px;
  margin-top: 0;
  margin-right: 30px;
  border: 1px solid #171c28;
}

.vacancies-d__download-status {
  font-family: $font-regular;
  font-size: 18px;
  color: #616161;
}

.vacancies-d__license {
  font-family: $font-text-regular;
  font-size: 16px;
  color: #616161;
  & a {
    text-decoration: underline;
    color: #616161;
  }
}

.vacancies-d__form-buttons--block .vacancies-d__download {
  margin-right: 30px;
  margin-left: 0;
}

.vacancies-d__form-buttons--block {
  &:first-child {
    align-items: baseline;
    margin-bottom: 25px;
  }
  display: flex;
  align-items: center;
}

.vacancies-d__contacts {
  background-color: #F2F2F2;
  padding: 80px 0 50px 0;
  &-title {
    font-family: $font-regular;
    font-size: 36px;
    color: #1A1D29;
    margin-bottom: 60px;
  }
  &-content {
    display: flex;
  }
  &-list {
    list-style: none;
    width: 50%;
  }
  &-item {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  &-link {
    color: #171C28;
    font-size: 24px;
    font-family: $font-text-regular;
    margin-bottom: 15px;
    display: flex;
    align-items: end;
    & div p {
      margin-top: 20px;
    }
  }
  &-icon {
    margin-right: 20px;
  }
  &-map {
    width: 50%;
  }
}

.vacancies-d__main-building {
  margin-top: 40px;
  position: relative;
}

.vacancies-d__build-point {
  width: 108px;
  height: 128px;
  position: absolute;
  right: 19%;
  top: 29%;
  & img {
    z-index: 9;
    position: absolute;
  }
  & span {
    font-size: 18px;
    font-family: $font-text-regular;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 10;
    position: absolute;
    top: 34px;
    left: 28px;
  }
}

@media screen and (max-width: 1561px) {
  .vacancies-d__build-point {
    right: 18%;
  }
}

@media screen and (max-width: 1281px) {
  .vacancies-d__title {
    font-size: 36px;
    width: 60%;
    margin: 40px 0 20px;
  }
  .vacancies-d__item p {
    width: 100%;
  }
  .vacancies-d__contacts-link {
    font-size: 22px;
  }
  .vacancies-d__yandex-map {
    height: 350px;
  }
  .vacancies-d__contacts-item {
    width: 90%;
  }
  .vacancies-d__build-point {
    right: 17%;
    top: 24%;
  }
  .vacancies-d__form-buttons {
    padding-left: 281px;
    padding-right: 138px;
  }
}

@media screen and (max-width: 1025px) {
  .vacancies-d__response {
    margin-top: 25px;
  }
  .vacancies-d__hero {
    padding: 100px 0;
    height: 100%;
  }
  .vacancies-d__contacts-title {
    margin-bottom: 40px;
  }
  .vacancies-d__contacts-link {
    font-size: 20px;
  }
  .vacancies-d__build-point {
    right: 16%;
    top: 17%;
  }
  .vacancies-d__form-buttons--block:first-child {
    align-items: baseline;
  }
  .vacancies-d__submit {
    margin-top: 0;
  }
}

@media screen and (max-width: 801px) {
  .vacancies-d__response {
    padding: 20px 50px;
  }
  .vacancies-d__download {
    font-size: 14px;
  }
  .vacancies-d__build-point {
    right: 14%;
    top: 8%;
  }
  .vacancies-d__form {
    width: 650px;
    height: 665px;
  }
  .vacancies-d__form-inputs {
    width: 90%;
  }
  .vacancies-d__form-label input {
    width: 425px;
    height: 50px;
  }
  .vacancies-d__form-label textarea {
    width: 425px;
  }
  .vacancies-d__form-buttons {
    padding-left: 181px;
    padding-right: 32px;
  }
  .vacancies-d__form h2 {
    font-size: 26px;
  }
  .vacancies-d__license {
    font-size: 12px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 769px) {
  .vacancies-d__title {
    font-size: 26px;
    width: 85%;
  }
  .vacancies-d__breadcrumb {
    font-size: 16px;
    display: flex;
    align-items: center;
    & svg {
      width: 48px;
      margin-right: 10px;
    }
  }
  .vacancies-d__response {
    padding: 18px 55px;
  }
  .vacancies-d__download {
    margin-left: 30px;
    font-size: 14px;
  }
  .vacancies-d__contacts-title {
    font-size: 26px;
  }
  .vacancies-d__contacts-link {
    font-size: 14px;
  }
  .vacancies-d__contacts-item {
    width: 95%;
    margin-top: 5px;
  }
  .vacancies-d__yandex-map {
    height: 217px;
  }
  .vacancies-d__item p {
    margin: 10px 0 5px 10px;
  }
  .vacancies-d__main-building {
    margin-top: 10px;
  }
}

@media screen and (max-width: 481px) {
  .vacancies-d__title {
    font-size: 22px;
    width: 100%;
  }
  .vacancies-d__date {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .vacancies-d__item {
    margin-left: 14px;
    font-size: 14px;

    & h6 {
      font-size: 14px;
    }

    & p {
      margin: 10px 0 0 10px;
    }

    &:first-child {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
  .vacancies-d__item h6 {
    position: relative;
    top: unset;
    left: unset;
  }
  .vacancies-d__breadcrumb {
    display: none;
  }
  .vacancies-d__hero {
    padding: 40px 0;
    height: 100%;
  }
  .vacancies-d__buttons {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .vacancies-d__response {
    margin-top: 0;
  }
  .vacancies-d__download {
    margin: 20px auto 0 auto;
  }
  .vacancies-d__contacts-content {
    flex-direction: column;
  }
  .vacancies-d__contacts-list {
    width: 100%;
  }
  .vacancies-d__contacts {
    background-color: #f2f2f2;
    padding: 50px 0 50px;
  }
  .vacancies-d__contacts-item {
    margin: 10px 0;

    &:first-child a {
      align-items: end;
    }
  }
  .vacancies-d__contacts-link div p {
    margin-top: 10px;
  }
  .vacancies-d__contacts-link {
    display: flex;
    align-items: center;
  }
  .vacancies-d__contacts-title {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .vacancies-d__contacts-map {
    width: 100%;
    margin: 10px 0 20px 0;
  }
  .vacancies-d__build-point {
    width: 80px;
    right: 13%;
    top: 3%;

    & span {
      font-size: 12px;
      top: 27px;
      left: 23px;
    }
  }
  .vacancies-d__form {
    width: 100%;
    height: 100vh;
  }
  .vacancies-d__form-label input {
    width: 320px;
    height: 45px;
  }
  .vacancies-d__form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: start;
    flex-direction: column;
    & input {
      width: 98%;
    }
    & span {
      margin-bottom: 10px;
      font-size: 14px;
    }
    & textarea {
      width: 98%;
    }
  }
  .vacancies-d__form-buttons {
    padding-left: 22px;
    padding-right: 20px;
  }
  .vacancies-d__download-status {
    font-size: 14px;
  }
  .vacancies-d__form-buttons--block .vacancies-d__download {
    margin-right: 50px;
    margin-top: 0;
  }
  .vacancies-d__form-buttons--block:last-child {
    flex-direction: column-reverse;
  }
  .vacancies-d__response {
    margin-right: 0;
  }
  .vacancies-d__license {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .vacancies-d__form h2 {
    margin-bottom: 30px;
  }
  .vacancies-d__form-close {
    top: 2%;
    right: 3%;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 415px) {
  .vacancies-d__build-point {
    width: 69px;
    right: 13%;
    top: 3%;
  }
  .vacancies-d__build-point span {
    font-size: 10px;
    top: 23px;
    left: 20px;
  }
  .vacancies-d__form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .vacancies-d__form h2 {
    margin-bottom: 15px;
  }
  .vacancies-d__response {
    padding: 15px 55px;
  }
  .vacancies-d__form-label input {
    width: 97%;
  }
  .vacancies-d__form-label textarea {
    width: 97%;
  }
}

@media screen and (max-width: 376px) {
  .vacancies-d__form h2 {
    margin-left: 17px;
  }
  .vacancies-d__form-label span {
    margin-bottom: 6px;
    font-size: 12px;
  }
  .vacancies-d__download {
    font-size: 12px;
  }
  .vacancies-d__response {
    padding: 10px 55px;
  }
  .vacancies-d__form-label input {
    height: 35px;
    width: 98%;
  }
}

@media screen and (max-width: 321px) {
  .vacancies-d__form {
    & h2 {
      font-size: 17px;
      align-self: start;
      margin-left: 17px;
    }
  }
  .vacancies-d__form-buttons--block .vacancies-d__download {
    margin-right: 15px;
    font-size: 10px;
  }
  .vacancies-d__form-label input {
    height: 28px;
    width: 98%;
    font-size: 12px;
  }
  .vacancies-d__download-status {
    font-size: 12px;
  }
}