.rent_noinfo-heading {
    font-family: $font-regular;
    line-height: 135%;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 30px;
    padding-top: 90px;
    @media (max-width: 1679px) {
        font-size: 26px;
        margin-bottom: 20px;
        padding-top: 70px;
    }
    @media (max-width: 1279px) {
        font-size: 22px;
        margin-bottom: 15px;
        padding-top: 50px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 15px;
        padding-top: 50px;
    }
}

@media (max-width: 1679px) {
    .rent_noinfo-paragraph br {
        display: none;
    }
}

.rent_noinfo-paragraph {
    @extend %block-text;
    margin-bottom: 30px;
    @media (max-width: 1679px) {
        margin-bottom: 30px;
    }
    @media (max-width: 1279px) {
        margin-bottom: 25px;
    }
    @media (max-width: 767px) {
        // width: 98%;
    }
}

.rent_noinfo-contact {
    font-family: $font-text-regular;
    font-size: 24px;
    margin-bottom: 45px;
    @media (max-width: 1679px) {
        font-size: 20px;
        margin-bottom: 30px;
    }
    @media (max-width: 1279px) {
        font-size: 16px;
        line-height: 135%;
    }
    &>h4 {
        margin-bottom: 25px;
        @media (max-width: 1679px) {
            margin-bottom: 20px;
        }
        @media (max-width: 1279px) {
            margin-bottom: 15px;
        }
    }
    &>ul {
        margin-left: 1.5%;
        font-weight: bold;
        line-height: 150%;
        margin-bottom: 40px;
        @media(max-width: 1679px) {
            margin-bottom: 20px;
        }
        @media (max-width: 500px) {
            margin-left: 4%;
        }
        &>li {
            padding-left: 1.5%;
            padding-bottom: 10px;
        }
        &>li a {
            color: inherit;
            transition: all 0.5s ease;
        }
        &>li a:hover {
            opacity: 0.8;
        }
    }
}

.button--rent {
    display: inline-block;
    @extend %btn-bordered;
    padding: 28px 80px;
    //  margin-bottom: 35px;
    @media(max-width: 1679px) {
        padding: 25px 55px;
    }
    @media(max-width: 1279px) {
        padding: 20px 45px;
    }
    @media(max-width: 1279px) {
        padding: 20px 45px;
        width: auto;
    }
}

.rent__wrapper--noinfo {
    padding-bottom: 385px;
    @media(max-width: 1679px) {
        padding-bottom: 125px;
    }
    @media(max-width: 1279px) {
        padding-bottom: 35px;
    }
    @media(max-width: 767px) {
        padding-bottom: 15px;
    }
}