<aside class="press-rigt-side-bar press-right-news-sidebar press-rigt-side-bar-hide">
    <div class="sidebar__inner">
        <div class="press-rigt-side-bar-filters">
            <div class="press-rigt-side-bar-filters-theme">
                <div class="press-rigt-side-bar-theme-list">
                    <a class="press-rigt-side-bar-theme-button rigt-side-bar-theme-button-active">ВСЕ</a>
                    <a href="/press-videogallery.html" class="press-rigt-side-bar-theme-button">ПРОИЗВОДСТВО</a>
                    <a class="press-rigt-side-bar-theme-button">ФИНАНСЫ</a>
                    <a class="press-rigt-side-bar-theme-button">ИННОВАЦИИ</a>
                    <a class="press-rigt-side-bar-theme-button">КОРПОРАТИВНАЯ КУЛЬТУРА</a>
                    <a class="press-rigt-side-bar-theme-button">ИСТОРИЯ</a>
                    <a class="press-rigt-side-bar-theme-button">МУЗЕЙ</a>
                    <a class="press-rigt-side-bar-theme-button">МЕРОПРИЯТИЯ</a>
                    <a class="press-rigt-side-bar-theme-button">НАШИ ПОБЕДЫ</a>
                    <a class="press-rigt-side-bar-theme-button">ПАРТНЕРСТВО</a>
                </div>
            </div>
            <div class="press-rigt-side-bar-filters-date">
                <a class="press-rigt-side-bar-date-button rigt-side-bar-date-button-active">2020</a>
                <a class="press-rigt-side-bar-date-button">2019</a>
                <a class="press-rigt-side-bar-date-button">2018</a>
                <div class="press-dropdown-list">
                    <a class="press-rigt-side-bar-date-button press-rigt-side-bar-date-button-drop">все года</a>
                    <div id="myDropdown" class="press-dropdown-list-content">
                        <a class="press-dropdown-list-content__item">2008</a>
                        <a class="press-dropdown-list-content__item">2009</a>
                        <a class="press-dropdown-list-content__item">2010</a>
                        <a class="press-dropdown-list-content__item">2011</a>
                        <a class="press-dropdown-list-content__item">2012</a>
                        <a class="press-dropdown-list-content__item">2013</a>
                        <a class="press-dropdown-list-content__item">2014</a>
                        <a class="press-dropdown-list-content__item">2015</a>
                        <a class="press-dropdown-list-content__item">2016</a>
                        <a class="press-dropdown-list-content__item">2017</a>
                        <a class="press-dropdown-list-content__item">2018</a>
                        <a class="press-dropdown-list-content__item">2019</a>
                        <a class="press-dropdown-list-content__item active">2020</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="press-instagram press-right-side-bar-instagram">
            <div class="press-instagram__title">
                <img src="./img/press/icon/instagram.png" class="press-instagram__icon">
                <p class="press-instagram__title-item">мы в instagram</p>
            </div>
            <a class="press-instagram__follow-us" href="https://www.instagram.com/kirovskyzavod/">#кировскийзавод</a>
            <div class="press-instagram-gallery">
                <div class="press-instagram-gallery-container">
                    <ul class="press-instagram-gallery-img-container">
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/image48.png">
                        </li>
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/Rectangle2.png">
                        </li>
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/image49.png">
                        </li>
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/Rectangle99.png">
                        </li>
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/image25.png">
                        </li>
                        <li class="press-instagram-gallery-img">
                            <img src="./img/press/instagram/image23.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/image48.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/Rectangle2.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/image49.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/Rectangle99.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/image25.png">
                        </li>
                        <li class="press-instagram-gallery-img press-instagram-gallery-img-hidden">
                            <img src="./img/press/instagram/image23.png">
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</aside>