<div class="press-instagram press-hidden-instagram">
    <div class="press-instagram__title">
        <img src="./img/press/icon/instagram.png" class="press-instagram__icon">
        <p class="press-instagram__title-item">мы в instagram</p>
    </div>
    <a class="press-instagram__follow-us" href="https://www.instagram.com/kirovskyzavod/">#кировскийзавод</a>
    <div class="press-instagram-gallery">
        <div class="press-instagram-gallery-container">
            <ul class="press-instagram-gallery-img-container">
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/image48.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/Rectangle2.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/image49.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/Rectangle99.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/image25.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img">
                    <img src="./img/press/instagram/image23.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden-first">
                    <img src="./img/press/instagram/image48.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden-first">
                    <img src="./img/press/instagram/Rectangle2.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden-first">
                    <img src="./img/press/instagram/image49.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden-first">
                    <img src="./img/press/instagram/Rectangle99.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden">
                    <img src="./img/press/instagram/image25.png">
                </li>
                <li class="press-instagram-gallery-img press-instagram-hide-gallery-img press-instagram-gallery-img-hidden">
                    <img src="./img/press/instagram/image23.png">
                </li>
            </ul>
            
        </div>
    </div>
</div>