<section class="main parallax__item">
    <div class="parallax__img-wrap">
       <div class="parallax__img  " data-speed="-40">
          <div class="parallax__img--inner" style="
             background: linear-gradient(65.95deg, #0F0F0F 0.6%, #000000 0.6%, rgba(0, 0, 0, 0) 42.86%), linear-gradient(0deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),  url(./img/press/main.png); 	
             background-blend-mode: multiply, normal, normal;
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;">
          </div>
          <!-- <video loop="" class="parallax__img-video" playsinline="" muted="">
             <source src="./video/video-main.mp4" type="video/mp4">
             </video> -->
       </div>
    </div>
    <div class="container">
       <div class="main__wrapper">
          <h1 class="main__title main__title--about">
             <!-- <div class="title--inner-main">Пресс-центр</div> -->
             <div class="title--inner-main press-header-title active" data-name="center">Пресс-центр</div>
             <div class="title--inner-main press-header-title" data-name="about-us">Пресса о нас</div>
             <div class="title--inner-main press-header-title" data-name="videogallery">Видеогалерея</div>
             <div class="title--inner-main press-header-title" data-name="photogallery">Фотогалерея</div>
             <div class="title--inner-main press-header-title" data-name="news">Новости</div>
             <div class="title--inner-main press-header-title" data-name="contacts">Контакты пресс-центра</div>
          </h1>
       </div>
    </div>
    <!-- <div class="button__video-controls-wrap">
       <button class="button__video-controls button__video-controls--play"></button>
       
       </div> -->
 </section>