<section >
    <div class="container press-contact-us__container" style="background-image: url(./img/news/contact-us-bg.jpg);"">
    <div class="press-contact-us">
        <div class="press-contact-us__title">
            <h4>Свяжитесь с нами</h4>
        </div>
        <div class="press-contact-us__input">
            <div class="press-contact-us__input-field">
                <form class="press-contact-us__form">
                <input type="text" class="press-contact-us__form-input" placeholder="Ваше имя">
                <input type="tel" class="press-contact-us__form-input" placeholder="Ваш телефон">
                <textarea class="press-contact-us__form-input press-contact-us__form-input--text" placeholder="Сообщение"></textarea>
                <div class="press-contact-us__form-button-container">
                    <button class="press-contact-us__form-button">ОТПРАВИТЬ</button>
                    <p class="press-contact-us__form-button-description">Нажимая на кнопку "Отправить" вы принимаете согласие на обработку персанальных данных</p>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>