<div class="rent__wrapper">
    <div class="tabs-common__wrapper">
       <div class="container">
          <div class="tabs-common">
             <div class="tabs-common-container" id="barba-nav">
                <a href="press-center.html" class="tabs-common-links tabs-common-links--barba active" id="defaultOpen">Пресс-центр</a>
                <a href="press-news.html" class="tabs-common-links tabs-common-links--barba">Новости</a>
                <a href="press-videogallery.html" class=" tabs-common-links tabs-common-links--barba">Видеогалерея</a>
                <a href="press-about-us.html" class=" tabs-common-links tabs-common-links--barba">Пресса о нас</a>
                <a href="press-photogallery.html" class=" tabs-common-links tabs-common-links--barba">Фотогалерея</a>
                <a href="press-contacts.html" class=" tabs-common-links tabs-common-links--barba">Контакты</a>
             </div>
          </div>
       </div>
    </div>
 </div>