<section class="main parallax__item">
    <div class="parallax__img-wrap">
        <div class="parallax__img  " data-speed="-40">
            <div class="parallax__img--inner" style="
            background:linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),  url(./img/university/main-bg_1920х1080.jpg); 	
            background-blend-mode: multiply, normal, normal;
            background-position: 23%;
            background-size: cover;
            background-repeat: no-repeat;">

            </div>
            
        </div>
    </div>

    <div class="container">
        <div class="main__wrapper">
            <h1 class="main__title main__title--about">
                <div class="title--inner-main">Корпоративный</div><br>
                <div class="title--inner-main">университет</div><br>

            </h1>

        </div>
    </div>


    
</section>