<div class="rent__wrapper">
    <div class="tabs-common__wrapper">
        <div class="container">

        
            <div class="tabs-common">

                <div class="tabs-common-container" id="barba-nav">
                    <a href="university.html" class="tabs-common-links tabs-common-links--barba active" data-tab="Workers" id="defaultOpen">Университет</a>
                    <a href="university-study.html" class="tabs-common-links tabs-common-links--barba" data-tab="Ing">Обучение</a>
                    <a href="university-org.html" class=" tabs-common-links tabs-common-links--barba" data-tab="Managers">Сведения об образовательной  организации</a>
                    <a href="university-contacts.html" class=" tabs-common-links tabs-common-links--barba" data-tab="All">Контакты</a>
                </div>
            </div>
        </div>
    </div>
</div>