.conditions {
    font-family: $font-text-regular;
    padding: 76px 0 50px;
    position: relative;
}

.conditions__back {
    display: block;
    margin-bottom: 20px;
}

.conditions__title {
    margin-bottom: 20px;
    @extend %block-title;
}

.conditions__content {
    @extend %block-text;
}
.conditions__content p{
    padding-bottom: 20px;
}
@media(min-width: 767px) {
    .conditions {
        padding: 83px 0 70px;
        min-height: 100vh;
    }
    .conditions__back {
        margin-bottom: 40px;
    }
    .conditions__title {
        margin-bottom: 30px;
    }
  
}

@media(min-width: 1280px) {
    .conditions {
        padding: 80px 0 160px;
    }
    .conditions__back {
    
        margin-bottom: 40px;

    }
    .conditions__title {
        margin-bottom: 40px;

    }
 
}

@media(min-width: 1680px) {
    .conditions {
        padding: 106px 17% 160px 0;
        & .container {
            padding-right: 8%;
            padding-left: 8%;
        }
    }
    .conditions__back {
        margin-bottom: 65px;
      
    }
    .conditions__title {
        margin-bottom: 38px;
    }
 
}