.history-about{
    min-height: auto;
    margin-bottom: 40px;
    & .social__btn-list{
        top: 50px;
    }
}

.history_light,
.history_dark{
    padding: 50px 0;
}
.history_dark{
    position: relative;
    color: #f4f3f4;
    &::before{
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: $blue-color;
    }
    & .history__entry--text-title,
    & .history__entry--text-content,
    & .history__photos__item-descr{
        color: #f4f3f4;
    }
}

.history__year{
    height: 120px;
    display: block;
}

.history__entry--text{
    margin-bottom: 63px;
    & ul{
        list-style-type: '—';
        font-family: $font-text-light;
        font-size: 14px;
        line-height: 1.6;
        padding-left: 10px;
        & li{
            padding-left: 10px;
        }
    }
}

.history__entry--text-title{
    font-family: $font-bold-2-title;
    color: #000;
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 1.2;
    & span{
        background-color: $accent-text-bg-color;
        display: inline-block;
        color: #fff;
        padding: 0px 8px 3px 8px;
    }
}

.history__entry--text-subtitle{
    font-family: $font-text-regular;
    margin: 40px 0 20px;
    font-size: 26px;
    line-height: 30px;
}

.history__entry--text-content{
    font-family: $font-text-light;
    color: $grey-text-paragraf;
    font-size: 14px;
    line-height: 1.6;
}

.history__photos--container{
    display: flex;
    flex-direction: column;
    padding-left: 26px;
}

.history__photos__item{
    margin-bottom: 70px;
    &.history__photos__item-1{
        // max-width: 341px;
    }
    &.history__photos__item-2{
        // max-width: 249px;
    }
    &.history__photos__item-3{
        // max-width: 498px;
    }
}

.history__photos__item-pic{
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
}

.history__photos__item-year{
    @extend %pic__frame;
    display: block;
}

.history__photos__item-descr{
    font-family: $font-text-light;
    color: $grey-text-paragraf;
    font-size: 14px;
    line-height: 1.2;
}

@media(min-width: 767px){
    .history-about{
        & .social__btn-list{
            top: 110px;
        }
    }
    .history_light,
    .history_dark{
        padding: 60px 0;
    }
    .history__year{
        height: 210px;
    }
    .history__entry--text-title{
        font-size: 30px;
        & span{
            padding: 5px 8px 8px;
        }
    }
    .history__entry--text-subtitle{
        margin: 40px 0 20px;
        font-size: 30px;
        line-height: 36px;
    }
    .history__photos--container{
        padding-left: 0px;
    }
    .history__photos{
        & .history__photos__item{
            margin-bottom: 0;
            &.history__photos__item-1{
                width: 31%;
            }
            &.history__photos__item-2{
                align-self: flex-end;
                margin-top: -220px;
                width: 29%;
            }
            &.history__photos__item-3{
                margin-top: -65px;
                width: 43%;
            }
            &.history__photos__item-4{
                margin-top: -65px;
                max-width: 315px;
            }
        }
        &.history__photos-1{
            & .history__photos__item-2{
                & .history__photos__item-pic{
                    padding-right: 30px;
                }
            }
        }
        &.history__photos-2{
            & .history__photos--container{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            & .history__photos__item{
                &:nth-child(odd){
                    width: 40%;
                }
                &.history__photos__item-2{
                    width: 40%;
                    margin-top: 0;
                    margin-bottom: 100px;
                    & .history__photos__item-pic{
                        padding-right: 80px;
                    }
                }
                &.history__photos__item-4{
                    margin-top: 0px;
                    width: 49%;
                    max-width: inherit;
                }
                &.history__photos__item-5{
                    margin-top: -50px;
                }
                &.history__photos__item-6{
                    margin-top: 140px;
                    width: 41%;
                }
            }
        }
        &.history__photos-3{
            & .history__photos--container{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            & .history__photos__item{
                &:nth-child(even){
                    max-width: inherit;
                    width: 40%;
                }
                &.history__photos__item-1{
                    order: 2;
                }
                &.history__photos__item-2{
                    order: 1;
                    margin-top: 0;
                    margin-bottom: 100px;
                }
                &.history__photos__item-3{
                    order: 4;
                    margin-top: 120px;
                }
                &.history__photos__item-4{
                    order: 3;
                    margin-top: 0;
                }
            }
        }
        &.history__photos-4{
            margin-bottom: 100px;
            & .history__photos--container{
                flex-direction: column;
                align-items: flex-end;
            }
            & .history__photos__item{
                &:nth-child(odd){
                    width: 40%;
                }
                &.history__photos__item-1{
                    & .history__photos__item-pic{
                        width: 65%;
                    }
                }
                &.history__photos__item-2{
                    align-self: flex-start;
                    width: 45%;
                    max-width: 100%;
                    margin-top: -60px;
                    & img{
                        max-width: 100%;
                    }
                }
                &.history__photos__item-3{
                    margin-top: -50px;
                }
            }
        }
        &.history__photos-5{
            & .history__photos--container{
                flex-direction: column;
                align-items: flex-end;
            }
            & .history__photos__item{
                &.history__photos__item-1{
                    & .history__photos__item-pic{
                        width: 40%;
                    }
                }
                &.history__photos__item-2{
                    align-self: flex-start;
                    width: 45%;
                    margin-top: 100px;
                }
                &.history__photos__item-3{
                    margin-top: -290px;
                    width: 40%;
                }
                &.history__photos__item-4{
                    width: 40%;
                    margin-right: 5%;
                    margin-top: 70px;
                }
            }
        }
        &.history__photos-6{
            margin-top: 0;
            & .history__photos--container{
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            & .history__photos__item{
                &:nth-child(even){
                    max-width: 100%;
                    width: 40%;
                }
                &.history__photos__item-1{
                    order: 2;
                    margin-bottom: 80px;
                    max-width: 100%;
                }
                &.history__photos__item-2{
                    margin-top: 0;
                    margin-bottom: 0px;
                    order: 1;
                    align-self: flex-start;
                }
                &.history__photos__item-3{
                    margin-top: 0px;
                    order: 4;
                    width: 39%;
                }
                &.history__photos__item-4{
                    margin-top: 90px;
                    order: 3;
                    width: 30%;
                    margin-left: 10%;
                }
            }
        }
        &.history__photos-7{
            & .history__photos--container{
                align-items: flex-end;
            }
            & .history__photos__item-1{
                width: 41%;
            }
            & .history__photos__item-2{
                align-self: flex-start;
                margin-top: -100px;
                width: 40%;
            }
            & .history__photos__item-3{
                width: 31%;
                margin-top: -40px;
            }
        }
        &.history__photos-8{
            & .history__photos--container{
                align-items: flex-end;
            }
            & .history__photos__item:nth-child(even){
                align-self: flex-start;
            }
            & .history__photos__item-1{
                width: 41%;
            }
            & .history__photos__item-2{
                align-self: flex-start;
                margin-top: -100px;
                width: 44%;
            }
            & .history__photos__item-3{
                width: 31%;
                margin-top: 0px;
            }
            & .history__photos__item-4{
                width: 31%;
                margin-top: -80px;
            }
        }
        &.history__photos-9{
            & .history__photos--container{
                align-items: flex-end;
            }
            & .history__photos__item:nth-child(even){
                align-self: flex-start;
            }
            & .history__photos__item-1{
                width: 41%;
            }
            & .history__photos__item-2{
                margin-top: -100px;
                width: 35%;
            }
            & .history__photos__item-3{
                width: 50%;
                margin-top: -10px;
            }
            & .history__photos__item-4{
                width: 40%;
                margin-top: -80px;
            }
        }
    }
    
}

@media(min-width: 1280px){
    .history-about{
        & .social__btn-list{
            top: 110px;
        }
    }
    .history_light,
    .history_dark{
        padding: 70px 0 150px;
    }
    .history__year{
        height: 330px;
    }
    .history__entry--text-content{
        font-size: 16px;
    }
    .history__entry--text{
        max-width: 612px;
    }
    .history__entry--text-title{
        font-size: 36px;
        line-height: 40px;
    }
    .history__entry--text-subtitle{
        margin: 40px 0 20px;
        font-size: 30px;
        line-height: 36px;
    }
    .history__entry--text ul{
        padding-right: 60px;
    }
    .history__photos__item-descr{
        font-size: 16px;
    }
    .history__photos{
        margin-top: -240px;
    }
    .history__photos--container{
        align-items: flex-end;
    }
    .history__photos{
        & .history__photos__item{
            &.history__photos__item-1{
                max-width: 340px;
                order: 2;
                align-self: flex-start;
                margin-top: -120px;
            }
            &.history__photos__item-2{
                max-width: 340px;
                order: 1;
                margin-top: 0;
                margin-right: 50px;
                & img{
                    max-width: 250px;
                }
            }
            &.history__photos__item-3{
                max-width: 500px;
                margin-top: -230px;
                order:3;
            }
            &.history__photos__item-4{
                margin-top: -100px;
                max-width: 500px;
                order: 4;
            }
            
        }
        &.history__photos-2{
            margin-top: -520px;
            & .history__photos--container{
                flex-direction: column;
                align-items: flex-start;
            }
            & .history__photos__item{
                &:nth-child(odd){
                    margin-top: 0;
                }
                &.history__photos__item-1{
                    max-width: inherit;
                    order: 2;
                    margin-top: 90px;
                }
                &.history__photos__item-2{
                    order: 1;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                    align-self: flex-end;
                    max-width: inherit;
                    width: 30%;
                    & img{
                        max-width: 100%;
                    }
                }
                &.history__photos__item-3{
                    order: 4;
                    margin-right: 0;
                    margin-top: -60px;
                }
                &.history__photos__item-4{
                    align-self: flex-end;
                    width: 40%;
                    order: 3;
                    margin-top: -230px;
                }
                &.history__photos__item-5{
                    order: 6;
                    margin-top: -35px;
                    width: 31.5%;
                }
                &.history__photos__item-6{
                    align-self: flex-end;
                    order: 5;
                    margin-top: -80px;
                    width: 31.5%;
                }
            }
        }
        &.history__photos-3{
            margin-top: -130px;
            & .history__photos--container{
                flex-direction: column;
                align-items: flex-start;
            }
            & .history__photos__item{
                &:nth-child(odd){
                    align-self: flex-end;
                }
                &:nth-child(even){
                    align-self: flex-start;
                    width: 40%;
                    margin-right: 0;
                }
                &.history__photos__item-1{
                    order: 1;
                }
                &.history__photos__item-2{
                    order: 2;
                    margin-bottom: 0;
                    & img{
                        max-width: 100%;
                    }
                }
                &.history__photos__item-3{
                    order: 3;
                    margin-top: 0px;
                }
                &.history__photos__item-4{
                    order: 4;
                    margin-top: -170px;
                    width: 40%;
                }
            }
        }
        &.history__photos-4{
            margin-bottom: 120px;
            margin-top: -320px;
            & .history__photos__item{
                &:nth-child(odd){
                    width: 40%;
                }
                &.history__photos__item-1{
                    align-self: flex-end;
                    margin-top: 0;
                    order: 1;
                    & .history__photos__item-pic{
                        width: 65%;
                    }
                }
                &.history__photos__item-2{
                    margin-top: 80px;
                    order: 2;
                    margin-right: 0;
                }
                &.history__photos__item-3{
                    margin-top: -290px;
                    width: 36%;
                }
            }
        }
        &.history__photos-5{
            margin-top: -110px;
            & .history__photos--container{
                flex-direction: column;
                align-items: flex-end;
            }
            & .history__photos__item{
                &.history__photos__item-1{
                    align-self: flex-end;
                    order: 1;
                    & .history__photos__item-pic{
                        width: 70%;
                    }
                }
                &.history__photos__item-2{
                    order: 2;
                    max-width: 100%;
                    margin-right: 0;
                    margin-top: 120px;
                    & img{
                        max-width: 100%;
                    }
                }
                &.history__photos__item-3{
                    width: 36%;
                    margin-top: -390px;
                }
                &.history__photos__item-4{
                    margin-top: 100px;
                }
            }
        }
        &.history__photos-6{
            margin-top: 0;
            & .history__photos--container{
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            & .history__photos__item{
                &:nth-child(even){
                    max-width: 100%;
                    width: 40%;
                }
                &.history__photos__item-2{
                    & img{
                        max-width: 100%;
                    }
                }
                &.history__photos__item-3{
                    margin-top: 0px;
                    order: 4;
                }
                &.history__photos__item-4{
                    margin-top: 90px;
                    order: 3;
                    width: 30%;
                    margin-left: 10%;
                }
            }
        }
        &.history__photos-7{
            margin-top: -60px;
            & .history__photos__item-1{
                order: 1;
                align-self: flex-end;
                max-width: 100%;
                width: 38%;
            }
            & .history__photos__item-2{
                order: 2;
                margin-right: 0;
                max-width: 100%;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                width: 31%;
                margin-top: -120px;
            }
        }
        &.history__photos-8{
            margin-top: -50px;
            & .history__photos__item-1{
                order: 1;
                align-self: flex-end;
                max-width: 100%;
                width: 39%;
            }
            & .history__photos__item-2{
                order: 2;
                max-width: 100%;
                margin-top: -150px;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                order: 3;
                margin-top: -80px;
            }
            & .history__photos__item-4{
                order: 4;
                width: 35%;
            }
        }
        &.history__photos-9{
            margin-top: -330px;
            & .history__photos__item-1{
                align-self: flex-end;
                order: 1;
                margin-top: 0;
                max-width: 100%;
                width: 35%;
            }
            & .history__photos__item-2{
                order: 2;
                margin-top: 100px;
                margin-right: 0;
                max-width: 100%;
                width: 38%;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                margin-top: -160px;
                max-width: 100%;
            }
            & .history__photos__item-4{
                width: 41%;
                margin-top: 0px;
                max-width: 100%;
            }
        }
    }
    
}

@media(min-width: 1680px){
    .history__year{
        height: 420px;
    }
    .history__entry--text-title{
        font-size: 46px;
        line-height: 42px;
    }
    .history__entry--text-content{
        font-size: 18px;
    }
    .history__entry--text{
        max-width: 742px;
    }
    .history__entry--text-subtitle{
        font-size: 36px;
        line-height: 49px;
    }
    .history__photos__item-descr{
        font-size: 18px;
    }
    .history__photos{
        margin-top: -200px;
        & .history__photos__item{
            &.history__photos__item-1{
                max-width: 458px;
            }
            &.history__photos__item-2{
                max-width: 442px;
                & img{
                    max-width: 320px;
                }
            }
            &.history__photos__item-3{
                max-width: 639px;
                margin-top: -330px;
            }
            &.history__photos__item-4{
                max-width: 639px;
                margin-top: -230px;
            }
        }
        &.history__photos-2{
            margin-top: -550px;
            & .history__photos__item{
                &.history__photos__item-1{
                    margin-top: 40px;
                }
                &.history__photos__item-2{
                    width: 34%;
                }
                &.history__photos__item-3{
                    margin-top: -120px;
                }
                &.history__photos__item-5{
                    margin-top: -90px;
                }
            }
        }
        &.history__photos-4{
            & .history__photos__item{
                &.history__photos__item-3{
                    margin-top: -350px;
                }
            }
        }
        &.history__photos-5{
            margin-top: -140px;
            & .history__photos__item{
                &.history__photos__item-3{
                    margin-top: -470px;
                }
            }
        }
        &.history__photos-7{
            & .history__photos__item-1{
                max-width: 100%;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-2{
                max-width: 100%;
                margin-top: -150px;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                margin-top: -180px;
            }
        }
        &.history__photos-8{
            & .history__photos__item-1{
                max-width: 100%;
            }
            & .history__photos__item-2{
                max-width: 100%;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                margin-top: -80px;
            }
            & .history__photos__item-4{
                max-width: 100%;
                width: 35%;
                margin-top: -130px;
            }
        }
        &.history__photos-9{
            margin-top: -430px;
            & .history__photos__item-1{
                max-width: 100%;
                width: 40%;
            }
            & .history__photos__item-2{
                max-width: 100%;
                & img{
                    max-width: 100%;
                }
            }
            & .history__photos__item-3{
                max-width: 100%;
                margin-top: -280px;
            }
            & .history__photos__item-4{
                max-width: 100%;
                margin-top: 0;
            }
        }
    }
}