.sitemap {
    padding: 54px 0 70px;
    position: relative;
    & .leadership-person__back {
        margin-bottom: 19px;
    }
}

.sitemap__title {
    font-family: $font-bold-2-title;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
}

.sitemap__list {
    font-family: $font-regular;
}

.sitemap__item.show {
    & .sitemap__item--title {
        color: $red-color;
    }
    &.accordion-item {
        border-bottom: none;
        & .sitemap__item--list {
            padding-bottom: 0px;
        }
    }
}

.sitemap__item {
    margin-bottom: 0px;
    &.accordion-item {
        border-bottom: none;
        & .sitemap__item--list {
            padding-bottom: 0;
        }
        &::after {
            display: none;
        }
    }
}

.sitemap__item--title {
    font-size: 18px;
    line-height: 36px;
    color: $black-grey;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    max-width: 90%;
    & .sitemap__item--link {
        color: $black-grey;
        &:hover {
            color: $red-color;
        }
    }
    &.accordion-item-header {
        &::after {
            position: absolute;
            right: -28px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-size: contain;
            min-width: 14px;
            width: 14px;
            height: 11px;
            min-height: 11px;
        }
    }
}

.sitemap__item--list {
    font-size: 12px;
    line-height: 16px;
    color: $grey-text-paragraf;
}

.sitemap__item--list-item {
    margin-bottom: 13px;
    & .sitemap__item--link {
        color: $grey-text-paragraf;
    }
    &:hover {
        & .sitemap__item--link {
            color: $red-color;
        }
    }
}