
.museum-history{
    background-color: $bg-color-light-grey;
    padding-top: 35px;
    padding-bottom: 35px;
}
.museum-history__title{
    @extend %block-title;
    padding-bottom: 10px;
}
.museum-history__desc{
    @extend %block-text;
    padding-bottom: 10px;
}
.button-more--museum-history{
    @extend %button-more;
}
.museum-zal__wrap{
    padding-top: 15px;
}
@media(min-width: 768px){
    .museum-history{
        
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .museum-history__wrap{
        display: flex;
        justify-content: space-between;
       
    }
    .museum-history__title{
        width: 290px;
        padding-bottom: 10px;
        padding-right: 30px;
        box-sizing: border-box;
    }
    .museum-history__desc{
       
        padding-bottom: 15px;
    }
   
}

@media(min-width: 1280px){
    .museum-history{
        
        padding-top: 120px;
        padding-bottom: 95px;
    }
    
    .museum-history__title{
        width: 300px;
        padding-bottom: 0px;
        padding-right: 60px;
    }
    .museum-history__desc{
       
        padding-bottom: 20px;
    }
   
}

@media(min-width: 1680px){
    .museum-history{
        
        padding-top: 125px;
        padding-bottom: 115px;
    }
    
    .museum-history__title{
        width: 380px;
        padding-bottom: 0px;
        padding-right: 105px;
    }
    .museum-history__desc{
       
        padding-bottom: 20px;
    }
   
}