.frame{
    height: 175px;
    background-image: url(../img/main/frame-bg.jpg);
    background-size: cover;
    background-position: center;
}


@media(min-width: 767px){
    .frame{
        height: 225px;
    }
  
}

@media(min-width: 1280px){
    .frame{
        height: 360px;
    }

}

@media(min-width: 1680px){
    .frame{
        height: 575px;
    }

}