.frame{
    height: 626px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    // background-image: url(../img/main/panorama.png);
    // background-size: cover;
    // backdrop-filter: blur(8.55368px);
    // cursor: grab;
}


.frame::-webkit-scrollbar {
    width: 0;
}

.frame .swiper-scrollbar{
    display: none !important;
}

.frame__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(40, 58, 103, 0.56);
    background-blend-mode: multiply;
    backdrop-filter: blur(8.55368px);
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.frame-container {
    position: relative;
    height: 626px;
    width: 100%;
    transition: all 1s linear !important;
    
 
}

.frame-container .swiper-slide{
    width: auto;
    max-width: none !important;
}
.pin-link {
    width: 25px;
    height: 34px;
    display: block;
}

.panorama {
    width: 2460px;
    height: 100%;
    // object-fit: cover;
    max-width: unset;
    position: relative;
    
}

.pin-popup:after, .pin-popup:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #fff;
}

.pin-popup__1:after {
    right: -33px;
    top: 16px;
    width: 32px;
    height: 1px;
}

.pin-popup__1:before {
    right: -33px;
    width: 1px;
    top: -23px;
    height: 39px;
}


.pin-popup__0:after {
    right: 413px;
    bottom: -77px;
    width: 33px;
    height: 1px;
}
.pin-popup__0:before {
    width: 1px;
    bottom: -77px;
    left: 84px;
    height: 75px;
}

.pin-popup__2:before {
    width: 1px;
    top: -54px;
    right: 86px;
    height: 54px;
}
.pin-popup__3:before {
    width: 1px;
    top: -54px;
    right: 86px;
    height: 54px;
}

.pin-popup__4:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}

.pin-popup__5:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}

.pin-popup__6:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}

.pin-popup__7:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}


.pin-popup__8:after {
    right: -60px;
    bottom: 187px;
    width: 59px;
    height: 1px;
}


.pin-popup__8:before {
    width: 1px;
    top: 14px;
    right: -60px;
    height: 54px;
}


.pin-popup__9:before {
    height: 1px;
    top: 66px;
    right: -59px;
    width: 59px;
}

.pin-popup__9:after {
    width: 1px;
    top: 14px;
    right: -60px;
    height: 54px;
}

.pin-popup__10:before {
    height: 1px;
    top: 66px;
    right: -59px;
    width: 59px;
}
.pin-popup__10:after {
    width: 1px;
    top: 14px;
    right: -60px;
    height: 54px;
}

.pin-popup__11:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}

.pin-popup__12:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}

.pin-popup__13:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}
.pin-popup__14:before {
    width: 1px;
    top: -54px;
    right: 36px;
    height: 54px;
}


.pin {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.pin-block {
    width: 25px;
    height: 34px;
    position: absolute;
    font-family: $font-regular;
    z-index: 1;
}

.pin-block-0 {
    left: 300px;
    bottom: 5px;
}

.pin-block-1 {
    left: 932px;
    top: 106px;
}

.pin-block-2 {
    left: 1049px;
    top: 77px;
}

.pin-block-3 {
    left: 1132px;
    top: 70px;
}

.pin-block-4 {
    left: 1169px;
    top: 65px;
}

.pin-block-5 {
    left: 1138px;
    top: 122px;
}

.pin-block-6 {
    left: 1269px;
    top: 93px;
}

.pin-block-7 {
    left: 1269px;
    top: 152px;
}

.pin-block-8 {
    left: 1377px;
    top: 290px;
}

.pin-block-9 {
    left: 1406px;
    top: 107px;
}

.pin-block-10 {
    left: 1435px;
    top: 307px;
}

.pin-block-11 {
    left: 1439px;
    top: 113px;
}

.pin-block-12 {
    left: 1564px;
    top: 103px;
}

.pin-block-13 {
    left: 1665px;
    top: 109px;
}

.pin-block-14 {
    left: 1790px;
    top: 156px;
}

.map-arrows {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.pin-popup h4 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 35px;
}

.pin-popup {
    display: none;
    padding: 30px 10px;
    text-align: center;
    width: 500px;
    height: 258px;
    background: rgba(118, 118, 118, 0.69);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 9.77563px;
    position: relative;
}

.pin-popup div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pin-popup__1 {
    top: 21px;
    right: 519px;
}

.pin-popup__0 {
    bottom: 334px;
    left: -40px;
}

.pin-popup__2 {
    bottom: -52px;
    left: -400px;
}

.pin-popup__3 {
    bottom: -52px;
    left: -400px;
}

.pin-popup__4 {
    bottom: -52px;
    left: -450px;
}

.pin-popup__5 {
    bottom: -52px;
    left: -450px;
}

.pin-popup__6 {
    bottom: -52px;
    left: -450px;
}

.pin-popup__7 {
    bottom: -52px;
    left: -450px;
}

.pin-popup__8 {
    bottom: 16px;
    left: -546px;
}

.pin-popup__9 {
    bottom: 16px;
    left: -546px;
}

.pin-popup__10 {
    bottom: 16px;
    left: -546px;
}

.pin-popup__11 {
    bottom: -51px;
    left: -450px;
}

.pin-popup__12 {
    bottom: -51px;
    left: -450px;
}

.pin-popup__13 {
    bottom: -51px;
    left: -450px;
}
.pin-popup__14 {
    bottom: -51px;
    left: -450px;
}


.pin-popup__link {
    position: relative;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: none;
    transition: .3s;
}

.pin-popup__link:hover {
    opacity: 0.6;
}

.pin-popup__link img {
    margin-right: 15px;
}


@media screen and (min-width: 2460px) {
    .frame {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 480px) {
    .pin-popup h4 {
        font-size: 18px;
    }
    .pin-popup__link {
        height: 30px;
        font-size: 15px;
        & img {
            height: 100%;
        }
    }
    .pin-popup {
        width: 300px;
        height: 210px;
    }
    .pin-popup__0 {
        bottom: 286px;
    }
    .pin-popup__0:after {
        right: 214px;
    }
    .pin-popup__1 {
        right: 319px;
    }
    .pin-popup__2, .pin-popup__3 {
        bottom: -52px;
        left: -200px;
    }
    .pin-popup__4, .pin-popup__5, .pin-popup__6, .pin-popup__7 {
        left: -250px;
    }
    .pin-popup__10, .pin-popup__8, .pin-popup__9 {
        bottom: 22px;
        left: -346px;
    }
    .pin-popup__8:before {
        display: none;
    }
    .pin-popup__11, .pin-popup__12, .pin-popup__13, .pin-popup__14 {
        left: -250px;
    }
}