<<<<<<< HEAD
=======

.statistics__title{
    margin-bottom: 40px;
}
>>>>>>> origin/all-page
.statistics__number-text{
   font-size:  20px;
}

@media(min-width:767px){
    .statistics--main{
        background-image: url(../img/main/statictic-bg.svg);
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
<<<<<<< HEAD
}

@media(min-width: 1280px){
=======
    .statistics__title{
        margin-bottom: 0px;
    }
}

@media(min-width: 1280px){
    .statistics__title{
        margin-bottom: 60px;
    }
>>>>>>> origin/all-page
    .statistics__number-text{
        font-size:  32px;
     }
   
}

@media(min-width: 1680px){
<<<<<<< HEAD
=======
    .statistics__title{
        margin-top: 80px;
        margin-bottom: 60px;
    }
>>>>>>> origin/all-page
    .statistics__number-text{
        font-size:  40px;
     }
   
}