<section class="main parallax__item">
    <div class="parallax__img-wrap">
       <div class="parallax__img" data-speed="-40">
          <div class="parallax__img--inner" style="
             background:  url(./img/contacts/bg-contacts.png);
             background-blend-mode: multiply, normal, normal;
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;">
          </div>
          <video poster="./video/video-contact-poster.jpg" loop="" muted="" class="parallax__img-video" playsinline="">
             <source src="./video/video-contact.mp4" type="video/mp4">
          </video>
          <div class="video-overlay"></div>
       </div>
    </div>
    <div class="container">
       <div class="main__wrapper">
          <h1 class="main__title main__title--about">
             <div class="title--inner-main contacts-header-title active" data-name="contacts">Контакты</div>
             <div class="title--inner-main contacts-header-title" data-name="contact_form">Обратная<br>связь</div>
             <div class="title--inner-main contacts-header-title" data-name="contact_hotline">Горячая<br>линия</div>
             <div class="title--inner-main contacts-header-title" data-name="contact_recvizity">Реквизиты</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-leadership">Контакты <br> Руководства</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-press">Контакты <br>Пресс-центра</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-group">Контакты<br>дочерних компаний</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-employment">Контакты <br>по Трудоустройству</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-rent">Контакты <br> по аренде</div>
             <div class="title--inner-main contacts-header-title" data-name="contact-museum">Контакты<br>Музея</div>
          </h1>
       </div>
    </div>
    <div class="button__video-controls-wrap">
       <button class="button__video-controls button__video-controls--play"></button>
    </div>
 </section>