.center{
    padding-top: 40px;
    padding-bottom: 40px;
}
.center .container{
    position: relative;
}
.center .block_text__title{
    color: $light-grey-color;
}
.center .block_text__paragraph{
    color: $light-grey-color;
}


.center__title{
    @extend %block-title;
    padding-bottom: 20px;
    position: relative;
    color: #FFFFFF;
}



.uni_noinfo-heading{
   @extend %block-title-inlist;
   width: 90%;
}
.block_text__smalllist--uni{
    padding-top: 20px;
}
.block_text__paragraph--uni{
    padding-top: 20px;
    padding-bottom: 20px;
}


.center__desc{
    @extend %block-text;
    padding-bottom: 30px;
    position: relative;
    color: #FFFFFF;
}

.button--center{
    display: inline-block;
    @extend %btn-bordered;
    color: #FFFFFF;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 420px;
}

.button--center{
    color: $light-grey-color;
 
    &::after{
        background: $light-grey-color;
    }
    &:hover{
		color: $blue-color;
    }
    & .button-line--first{
        &::before{
            background-color: $light-grey-color;
        }
        &::after{
            background-color: $light-grey-color;
        }
    }
    & .button-line--two{
        &::before{
            background-color: $light-grey-color;
        }
        &::after{
            background-color: $light-grey-color;
        }
    }
}

@media(min-width: 768px){
    .center{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    
    .center__title{
      
        padding-bottom: 30px;

    }
    
    .center__desc{
       
        padding-bottom: 30px;

    }
    
    .button--center{

        margin-bottom: 10px;
    
        padding-left: 20px;
        padding-right: 20px;

        padding-top: 15px;
        padding-bottom: 15px;
        width: 420px;
    }
}

@media(min-width: 1280px){
    .center{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .center__title{
      
        padding-bottom: 30px;

    }
    
    .center__desc{
       
        padding-bottom: 30px;

    }
    
    .button--center{
        width: 610px;
        max-width: 610px;
        margin-bottom: 25px;
    
        padding-left: 20px;
        padding-right: 20px;

        padding-top: 25px;
        padding-bottom: 25px;
        
    }
    .button__list{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}

@media(min-width: 1680px){
    .center{
        padding-top: 145px;
        padding-bottom: 200px;
    }
    
    .center__title{
      
        padding-bottom: 30px;

    }
    
    .center__desc{
       
        padding-bottom: 30px;
        width: 70%;
    }
    
    .button--center{
        width: 770px;
        max-width: 770px;
        margin-bottom: 25px;
    
        padding-left: 20px;
        padding-right: 20px;

        padding-top: 45px;
        padding-bottom: 45px;
        font-size: 20px;
        
    }
    .button__list{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }
}


.uni-about{
    background-image: url(../img/university/uni-about-bg.svg);
    background-position: bottom center;
    background-size: contain;
}


// .parallax__img--main_about{

//     background-position: bottom center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 100%;

//     position: absolute;
//     // z-index: -1;
//     height: 370px;
//     // background-size: 100% auto;
// }
// .main_about__flag{
//     display: none;
// }
.about__desc--uni{
    padding-bottom: 50px;
}

@media(min-width: 767px){
    .about__desc--uni{
        padding-bottom: 0px;
    }
 
    .uni-about{

        background-size: cover;
    }
    .parallax__img--main_about{

        background-position: bottom center;
        // background-size: auto 505px;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 505px;

    }

    // .main_about__flag{
    //     display: block;
    //     width: 90px;
    //     height: 90px;
    //     margin-right: 20px;
    // }
    // .main_about__desc-wrap{
    //     display: flex;
    //     padding-top: 20px;
    // }
    // .main_about__desc{
    //     padding-top: 0px;
    //     width: 85%;
    // }

}

@media(min-width: 1280px){
    .uni-about{
        background: none;
    }
    .parallax__img--uni-1{
        background-image: url(../img/university/img-parallax-1-uni.svg);
        background-position: bottom  center;
        --overflow: -70px;
        // --overflow: -20%;
        height: calc(660px + (2 * var(--overflow)));
        top: calc( -1 * var(--overflow));

    }
    .parallax__img--uni-2{
        background-image: url(../img/university/img-parallax-2-uni.svg);
        // --overflow: -15%;
        // --overflow: -150px;
        height: calc(660px + (2 * var(--overflow)));
        top: calc( -1 * var(--overflow));

    }
    .parallax__img--uni-3{
        background-image: url(../img/university/img-parallax-3-uni.svg);
        --overflow: -50px;
        // --overflow: 50px;
        // --overflow: -50%;
        height: calc(660px + (2 * var(--overflow)));
        top: calc( -1 * var(--overflow));

    }
    .parallax__img--uni-4{
        background-image: url(../img/university/img-parallax-4-uni.svg);
        // --overflow: -25%;
        // --overflow: -150px;
        height: calc(660px + (2 * var(--overflow)));
        top: calc( -1 * var(--overflow));
    }
}

@media(min-width: 1680px){
    
    .about__title{

        width: 90%;
    }
    // .main_about__flag{
    //     display: block;
    //     width: 190px;
    //     height: 190px;
    //     margin-right: 70px;
    //     margin-left: 5px;
    // }
    // .main_about__desc-wrap{
    //     display: flex;
    //     padding-top: 80px;
    // }
    // .main_about__desc{
    //     padding-top: 0px;
    //     width: 50%;
    // // }

    // .parallax__img--main_about{
    //     height: 960px;
    //     // background-size: 100% auto;
    // }
    // .parallax__img--main-1{
    //     background-image: url(../img/main/img-parallax-1-main.svg);
    //     background-position: bottom  center;
    //     --overflow: -100px;
    //     // --overflow: -20%;
    //     height: calc(960px + (2 * var(--overflow)));
    //     top: calc( -1 * var(--overflow));
    // }
}

.accordion-item--noinner .accordion-item-header::after{
    display: none !important;
}
.accordion-item--noinner  .actioner-list-title{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color:  inherit;
    font-family: inherit;
}
.accordion-item--noinner.show .accordion-item-content{
    margin:0;
    padding:0;
}

.actioner-list-link--toggle{
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: -20px;

        top:50%;
        transform: translateY(-50%);
        display: block;
        width: 15px;
        min-width: 15px;
        height: 12px;
        min-height: 12px;
        background-size: 15px 12px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='accordion-item-arrow' width='22' height='15' viewBox='0 0 22 15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23000000' d='M2.03706 1.05163L2.03709 1.05161L2.03415 1.04812C1.97196 0.97417 1.89831 0.904842 1.8047 0.855377C1.70848 0.804535 1.60552 0.782207 1.49578 0.782207C1.08599 0.782207 0.75 1.15502 0.75 1.62165C0.75 1.78842 0.814213 2.02343 0.955405 2.19279L10.4233 13.9797L10.4232 13.9798L10.4269 13.9841C10.5666 14.1502 10.7574 14.25 10.9652 14.25C11.1731 14.25 11.3639 14.1502 11.5036 13.9841L11.5036 13.9841L11.5068 13.9802L21.0242 2.19329L21.0722 2.13624C21.3711 1.7809 21.2745 1.28864 21.0226 0.989175C20.8717 0.809683 20.6659 0.729374 20.4548 0.754483C20.2538 0.778379 20.0759 0.893577 19.9459 1.04812L19.9459 1.04808L19.9426 1.05215L11.0143 12.1287L2.03706 1.05163Z' stroke-width='0.5'%3e%3c/path%3e%3c/svg%3e");
        background-repeat: no-repeat;
        // margin-left: 21px;
        transition: background-image 0.5s, transform 0.5s;
        //order: 1
        transform-origin: center;

    }
    &.active::after{
        transform: translateY(-50%) rotate(0.5turn);
        
    }
    &:hover{
        text-decoration: none;
        color: $red-color;
    }
}

.actioner-info--toggle{
    height: 0;
    overflow: hidden;
}


.actioner-info--toggle .b-table {
    margin-left: 0%;
}
.actioner-info--toggle  .b-table__link-tender:hover{
    opacity: 1;
}
.actioner-info--toggle .b-table__container::before{
    display: none;
}
.actioner-info--toggle .b-table__wrap{
    width: 100%;
}
@media (max-width: 767px){
    .actioner-info--toggle .b-table__row-1{
        width: 70%;
    }
}